alter session set "logDir"='@LOGDIR@';

create schema exportfile;
set schema 'exportfile';

--
-- exports using file delimiter and file extension parameters
--

create table example(
  id int,
  line varchar(100),
  charline char(100)
);

insert into example values
(1, 'perfectly normal text', 'perfectly normal text'),
(2, 'let''s see some "double""quotes" and single''ones too', 'let''s see some "double""quotes" and single''ones too'),
(3, 'now, how about them,,,commas,yes?', 'now, how about them,,,commas,yes?'),
(4, 'all,"together''",'',","now!', 'all,"together''",'',","now!'),
(5, 'don''t forget
about these wonderous,
carriage returns too', 'don''t forget
about these wonderous,
carriage returns too');

select * from example order by 1;

-- export with tab delimiter and .tab
call sys_root.export_schema_to_file(null, 'EXPORTFILE', false, null, null, '@EXPDIR@/local/fdext', true, true, '\t', '.tab');

create server tab_server
foreign data wrapper "FLAT FILE"
options(
  directory '@EXPDIR@/local/fdext',
  file_extension '.tab',
  field_delimiter '\t',
  line_delimiter '\n',
  quote_char '"',
  with_header 'yes'
);

select * from tab_server.bcp.example order by 1;

-- export with comma delimiter and .csv
call sys_root.export_schema_to_file(null, 'EXPORTFILE', false, null, null, '@EXPDIR@/local/fdext', true, true, ',', '.csv');

create server commacsv_server
foreign data wrapper "FLAT FILE"
options(
  directory '@EXPDIR@/local/fdext',
  file_extension '.csv',
  field_delimiter ',',
  line_delimiter '\n',
  quote_char '"',
  with_header 'yes'
);

select * from commacsv_server.bcp.example order by 1;

-- cleanup
drop server tab_server cascade;
drop server commacsv_server cascade;

--
-- exports using datetime format parameters
--

create server flatfile_server
foreign data wrapper sys_file_wrapper
options (
    directory '@DIR@',
    file_extension 'csv',
    date_format 'MM/dd/yyyy',
    time_format 'hh:mm:ss a',
    timestamp_format 'MM/dd/yyyy hh:mm:ss a'
    );


import foreign schema bcp limit to ("dates")
from server flatfile_server into exportfile;

-- export into csv files with datetime formats
call sys_root.export_schema_to_file('LOCALDB', 'EXPORTFILE', false, 'dates', null, '@EXPDIR@/local/dt', true, false, ',', '.csv', 'MM/dd/yyyy', 'hh:mm:ss a', 'MM/dd/yyyy hh:mm:ss a');

create server exp_server
foreign data wrapper "FLAT FILE"
options (
  directory '@EXPDIR@/local/dt',
  log_directory '@EXPDIR@/local/dt',
  file_extension 'csv',
  date_format 'MM/dd/yyyy',
  time_format 'hh:mm:ss a',
  timestamp_format 'MM/dd/yyyy hh:mm:ss a'
);

select * from exp_server.bcp."dates" order by 1,2,3;

select * from exportfile."dates" order by 1,2,3;

-- log files should be created in logDir
create or replace server flatfile_server
foreign data wrapper "FLAT FILE"
options (
  directory '@LOGDIR@',
  log_directory '@LOGDIR@',
  file_extension 'log',
  field_delimiter '\t'
);

create schema lschema;
import foreign schema bcp
limit to table_name like 'Export%'
from server flatfile_server
into lschema;

-- one log file per schema export should exist (3)
select count(*) from sys_root.dba_tables where schema_name='LSCHEMA';

-- cleanup 
drop server flatfile_server cascade;
drop server exp_server cascade;
drop schema exportfile cascade;
