0: jdbc:luciddb:> -- EXPORT_LOCAL_SCHEMA_INCREMENTAL_TO_CSV tests
0: jdbc:luciddb:> 
0: jdbc:luciddb:> set schema 'udptest';
0: jdbc:luciddb:> set path 'udptest';
0: jdbc:luciddb:> 
0: jdbc:luciddb:> 
0: jdbc:luciddb:> -- create app variable with current time
0: jdbc:luciddb:> call applib.create_var('udptest', null, 'appvars for udptest');
0: jdbc:luciddb:> call applib.create_var('udptest', 'startTs', 'current timestamp taken before tests');
0: jdbc:luciddb:> call applib.set_var('udptest', 'startTs', cast(current_timestamp as varchar(25)));
0: jdbc:luciddb:> 
0: jdbc:luciddb:> call applib.flush_var('udptest', 'startTs');
0: jdbc:luciddb:> 
0: jdbc:luciddb:> -- sleep 1 sec to ensure create time is after
0: jdbc:luciddb:> select sys_boot.mgmt.sleep(1000) from (values(0));
+---------+
| EXPR$0  |
+---------+
| 0       |
+---------+
0: jdbc:luciddb:> 
0: jdbc:luciddb:> -- create view
0: jdbc:luciddb:> create view blah as 
. . . . . . . . > select * from sys_root.dba_views
. . . . . . . . > where schema_name='UDPTEST';
0: jdbc:luciddb:> 
0: jdbc:luciddb:> -- basic incremental export
0: jdbc:luciddb:> call sys_root.export_schema_incremental_to_csv('LOCALDB', 'SYS_ROOT', false, 'DBA_VIEWS', null, cast(applib.get_var('udptest', 'startTs') as timestamp), 'LAST_MODIFICATION_TIMESTAMP', '@EXPDIR@/local/inc', true, true);
0: jdbc:luciddb:> 
0: jdbc:luciddb:> create server exp_server
. . . . . . . . > foreign data wrapper "FLAT FILE"
. . . . . . . . > options(
. . . . . . . . >   directory '@EXPDIR@/local/inc',
. . . . . . . . >   file_extension '.txt',
. . . . . . . . >   ctrl_file_extension '.bcp',
. . . . . . . . >   field_delimiter '\t',
. . . . . . . . >   line_delimiter '\n',
. . . . . . . . >   quote_char '"',
. . . . . . . . >   escape_char '',
. . . . . . . . >   with_header 'yes'
. . . . . . . . > );
0: jdbc:luciddb:> 
0: jdbc:luciddb:> -- check table
0: jdbc:luciddb:> -- TODO: FRG-172, FRG-175 (right now not returning anything since creation 
0: jdbc:luciddb:> -- timestamps are currently in PDT time and casting timestamps to varchar is
0: jdbc:luciddb:> -- one hour off)
0: jdbc:luciddb:> select catalog_name, schema_name, view_name from exp_server.BCP.DBA_VIEWS;
+---------------+--------------+------------+
| CATALOG_NAME  | SCHEMA_NAME  | VIEW_NAME  |
+---------------+--------------+------------+
+---------------+--------------+------------+
0: jdbc:luciddb:> 
0: jdbc:luciddb:> 
0: jdbc:luciddb:> create table mytable(cola int, lmts timestamp);
0: jdbc:luciddb:> 
0: jdbc:luciddb:> insert into mytable values
. . . . . . . . > (1, current_timestamp),
. . . . . . . . > (2, current_timestamp);
0: jdbc:luciddb:> 
0: jdbc:luciddb:> -- sleep 1 sec to ensure timestamp is after
0: jdbc:luciddb:> select sys_boot.mgmt.sleep(1000) from (values(0));
+---------+
| EXPR$0  |
+---------+
| 0       |
+---------+
0: jdbc:luciddb:> 
0: jdbc:luciddb:> -- update appvar
0: jdbc:luciddb:> call applib.set_var('udptest', 'startTs', cast(current_timestamp as varchar(25)));
0: jdbc:luciddb:> call applib.flush_var('udptest', 'startTs');
0: jdbc:luciddb:> 
0: jdbc:luciddb:> -- sleep 1 sec to ensure timestamp is after
0: jdbc:luciddb:> select sys_boot.mgmt.sleep(1000) from (values(0));
+---------+
| EXPR$0  |
+---------+
| 0       |
+---------+
0: jdbc:luciddb:> 
0: jdbc:luciddb:> -- TODO: uncomment after FRG-175 is fixed
0: jdbc:luciddb:> insert into mytable values
. . . . . . . . > -- (3, current_timestamp),
. . . . . . . . > -- (4, current_timestamp);
. . . . . . . . > (3, cast(applib.get_var('udptest', 'startTs') as timestamp));
0: jdbc:luciddb:> 
0: jdbc:luciddb:> -- export incremental returns some rows
0: jdbc:luciddb:> call sys_root.export_schema_incremental_to_csv(null, 'UDPTEST', false, 'MYTABLE', null, cast(applib.get_var('udptest', 'startTs') as timestamp), 'LMTS', '@EXPDIR@/local/inc', true, true);
0: jdbc:luciddb:> 
0: jdbc:luciddb:> select cola from exp_server.BCP.MYTABLE;
+-------+
| COLA  |
+-------+
| 3     |
| 4     |
+-------+
0: jdbc:luciddb:> 
0: jdbc:luciddb:> -- update incremental return no rows
0: jdbc:luciddb:> -- TODO: FRG-176
0: jdbc:luciddb:> call sys_root.export_schema_incremental_to_csv('LOCALDB', 'UDPTEST', false, 'MYTABLE', null, current_timestamp, 'LMTS', '@EXPDIR@/local/inc', true, true);
Error: From line 1, column 88 to line 1, column 91: Illegal use of 'NULL' (state=,code=0)
0: jdbc:luciddb:> 
0: jdbc:luciddb:> select cola from exp_server.BCP.MYTABLE;
+-------+
| COLA  |
+-------+
+-------+
0: jdbc:luciddb:> 
0: jdbc:luciddb:> -- incremental changes to full export if either last_modified or 
0: jdbc:luciddb:> -- last_modified_column are null
0: jdbc:luciddb:> call sys_root.export_schema_incremental_to_csv('LOCALDB', 'UDPTEST', false, 'MYTABLE,BLAH', null, TIMESTAMP'2001-12-12 12:00:00', null, '@EXPDIR@/local/inc', true, true);
0: jdbc:luciddb:> 
0: jdbc:luciddb:> select cola from exp_server.BCP.MYTABLE order by 1;
+-------+
| COLA  |
+-------+
| 1     |
| 2     |
| 3     |
+-------+
0: jdbc:luciddb:> select catalog_name, schema_name, view_name from exp_server.BCP.BLAH order by 1,2,3;
+---------------+--------------+------------+
| CATALOG_NAME  | SCHEMA_NAME  | VIEW_NAME  |
+---------------+--------------+------------+
| LOCALDB       | UDPTEST      | BLAH       |
| LOCALDB       | UDPTEST      | EMPVIEW    |
+---------------+--------------+------------+
0: jdbc:luciddb:> 
0: jdbc:luciddb:> !quit
