0: jdbc:luciddb:> alter session set "logDir"='@LOGDIR@';
0: jdbc:luciddb:> 
0: jdbc:luciddb:> create schema exportfile;
0: jdbc:luciddb:> set schema 'exportfile';
0: jdbc:luciddb:> 
0: jdbc:luciddb:> --
0: jdbc:luciddb:> -- exports using file delimiter and file extension parameters
0: jdbc:luciddb:> --
0: jdbc:luciddb:> 
0: jdbc:luciddb:> create table example(
. . . . . . . . >   id int,
. . . . . . . . >   line varchar(100),
. . . . . . . . >   charline char(100)
. . . . . . . . > );
0: jdbc:luciddb:> 
0: jdbc:luciddb:> insert into example values
. . . . . . . . > (1, 'perfectly normal text', 'perfectly normal text'),
. . . . . . . . > (2, 'let''s see some "double""quotes" and single''ones too', 'let''s see some "double""quotes" and single''ones too'),
. . . . . . . . > (3, 'now, how about them,,,commas,yes?', 'now, how about them,,,commas,yes?'),
. . . . . . . . > (4, 'all,"together''",'',","now!', 'all,"together''",'',","now!'),
. . . . . . . . > (5, 'don''t forget
. . . . . . . . > about these wonderous,
. . . . . . . . > carriage returns too', 'don''t forget
. . . . . . . . > about these wonderous,
. . . . . . . . > carriage returns too');
0: jdbc:luciddb:> 
0: jdbc:luciddb:> select * from example order by 1;
+-----+-----------------------------------------------------------+-------------------------------------------------------------------------------------------------------+
| ID  |                           LINE                            |                                               CHARLINE                                                |
+-----+-----------------------------------------------------------+-------------------------------------------------------------------------------------------------------+
| 1   | perfectly normal text                                     | perfectly normal text                                                                                 |
| 2   | let's see some "double""quotes" and single'ones too       | let's see some "double""quotes" and single'ones too                                                   |
| 3   | now, how about them,,,commas,yes?                         | now, how about them,,,commas,yes?                                                                     |
| 4   | all,"together'",',","now!                                 | all,"together'",',","now!                                                                             |
| 5   | don't forget
about these wonderous,
carriage returns too  | don't forget
about these wonderous,
carriage returns too                                              |
+-----+-----------------------------------------------------------+-------------------------------------------------------------------------------------------------------+
0: jdbc:luciddb:> 
0: jdbc:luciddb:> -- export with tab delimiter and .tab
0: jdbc:luciddb:> call sys_root.export_schema_to_file(null, 'EXPORTFILE', false, null, null, '@EXPDIR@/local/fdext', true, true, '\t', '.tab');
0: jdbc:luciddb:> 
0: jdbc:luciddb:> create server tab_server
. . . . . . . . > foreign data wrapper "FLAT FILE"
. . . . . . . . > options(
. . . . . . . . >   directory '@EXPDIR@/local/fdext',
. . . . . . . . >   file_extension '.tab',
. . . . . . . . >   field_delimiter '\t',
. . . . . . . . >   line_delimiter '\n',
. . . . . . . . >   quote_char '"',
. . . . . . . . >   with_header 'yes'
. . . . . . . . > );
0: jdbc:luciddb:> 
0: jdbc:luciddb:> select * from tab_server.bcp.example order by 1;
+-----+-----------------------------------------------------------+-------------------------------------------------------------------------------------------------------+
| ID  |                           LINE                            |                                               CHARLINE                                                |
+-----+-----------------------------------------------------------+-------------------------------------------------------------------------------------------------------+
| 1   | perfectly normal text                                     | perfectly normal text                                                                                 |
| 2   | let's see some "double""quotes" and single'ones too       | let's see some "double""quotes" and single'ones too                                                   |
| 3   | now, how about them,,,commas,yes?                         | now, how about them,,,commas,yes?                                                                     |
| 4   | all,"together'",',","now!                                 | all,"together'",',","now!                                                                             |
| 5   | don't forget
about these wonderous,
carriage returns too  | don't forget
about these wonderous,
carriage returns too                                              |
+-----+-----------------------------------------------------------+-------------------------------------------------------------------------------------------------------+
0: jdbc:luciddb:> 
0: jdbc:luciddb:> -- export with comma delimiter and .csv
0: jdbc:luciddb:> call sys_root.export_schema_to_file(null, 'EXPORTFILE', false, null, null, '@EXPDIR@/local/fdext', true, true, ',', '.csv');
0: jdbc:luciddb:> 
0: jdbc:luciddb:> create server commacsv_server
. . . . . . . . > foreign data wrapper "FLAT FILE"
. . . . . . . . > options(
. . . . . . . . >   directory '@EXPDIR@/local/fdext',
. . . . . . . . >   file_extension '.csv',
. . . . . . . . >   field_delimiter ',',
. . . . . . . . >   line_delimiter '\n',
. . . . . . . . >   quote_char '"',
. . . . . . . . >   with_header 'yes'
. . . . . . . . > );
0: jdbc:luciddb:> 
0: jdbc:luciddb:> select * from commacsv_server.bcp.example order by 1;
+-----+-----------------------------------------------------------+-------------------------------------------------------------------------------------------------------+
| ID  |                           LINE                            |                                               CHARLINE                                                |
+-----+-----------------------------------------------------------+-------------------------------------------------------------------------------------------------------+
| 1   | perfectly normal text                                     | perfectly normal text                                                                                 |
| 2   | let's see some "double""quotes" and single'ones too       | let's see some "double""quotes" and single'ones too                                                   |
| 3   | now, how about them,,,commas,yes?                         | now, how about them,,,commas,yes?                                                                     |
| 4   | all,"together'",',","now!                                 | all,"together'",',","now!                                                                             |
| 5   | don't forget
about these wonderous,
carriage returns too  | don't forget
about these wonderous,
carriage returns too                                              |
+-----+-----------------------------------------------------------+-------------------------------------------------------------------------------------------------------+
0: jdbc:luciddb:> 
0: jdbc:luciddb:> -- cleanup
0: jdbc:luciddb:> drop server tab_server cascade;
0: jdbc:luciddb:> drop server commacsv_server cascade;
0: jdbc:luciddb:> 
0: jdbc:luciddb:> --
0: jdbc:luciddb:> -- exports using datetime format parameters
0: jdbc:luciddb:> --
0: jdbc:luciddb:> 
0: jdbc:luciddb:> create server flatfile_server
. . . . . . . . > foreign data wrapper sys_file_wrapper
. . . . . . . . > options (
. . . . . . . . >     directory '@DIR@',
. . . . . . . . >     file_extension 'csv',
. . . . . . . . >     date_format 'MM/dd/yyyy',
. . . . . . . . >     time_format 'hh:mm:ss a',
. . . . . . . . >     timestamp_format 'MM/dd/yyyy hh:mm:ss a'
. . . . . . . . >     );
0: jdbc:luciddb:> 
0: jdbc:luciddb:> 
0: jdbc:luciddb:> import foreign schema bcp limit to ("dates")
. . . . . . . . > from server flatfile_server into exportfile;
0: jdbc:luciddb:> 
0: jdbc:luciddb:> -- export into csv files with datetime formats
0: jdbc:luciddb:> call sys_root.export_schema_to_file('LOCALDB', 'EXPORTFILE', false, 'dates', null, '@EXPDIR@/local/dt', true, false, ',', '.csv', 'MM/dd/yyyy', 'hh:mm:ss a', 'MM/dd/yyyy hh:mm:ss a');
0: jdbc:luciddb:> 
0: jdbc:luciddb:> create server exp_server
. . . . . . . . > foreign data wrapper "FLAT FILE"
. . . . . . . . > options (
. . . . . . . . >   directory '@EXPDIR@/local/dt',
. . . . . . . . >   log_directory '@EXPDIR@/local/dt',
. . . . . . . . >   file_extension 'csv',
. . . . . . . . >   date_format 'MM/dd/yyyy',
. . . . . . . . >   time_format 'hh:mm:ss a',
. . . . . . . . >   timestamp_format 'MM/dd/yyyy hh:mm:ss a'
. . . . . . . . > );
0: jdbc:luciddb:> 
0: jdbc:luciddb:> select * from exp_server.bcp."dates" order by 1,2,3;
+-------------+-------------+------------------------+
| START_DATE  | START_TIME  |     ACTIVITY_TIME      |
+-------------+-------------+------------------------+
| 1980-01-01  | 00:00:00    | 1980-01-01 00:00:00.0  |
| 1980-12-31  | 23:59:59    | 1980-12-31 11:59:59.0  |
| 2004-02-29  | 12:00:00    | 2004-02-29 12:00:00.0  |
| 2007-01-01  |             | 2006-04-22 14:30:00.0  |
+-------------+-------------+------------------------+
0: jdbc:luciddb:> 
0: jdbc:luciddb:> select * from exportfile."dates" order by 1,2,3;
+-------------+-------------+------------------------+
| START_DATE  | START_TIME  |     ACTIVITY_TIME      |
+-------------+-------------+------------------------+
| 1980-01-01  | 00:00:00    | 1980-01-01 00:00:00.0  |
| 1980-12-31  | 23:59:59    | 1980-12-31 11:59:59.0  |
| 2004-02-29  | 12:00:00    | 2004-02-29 12:00:00.0  |
| 2007-01-01  |             | 2006-04-22 14:30:00.0  |
+-------------+-------------+------------------------+
0: jdbc:luciddb:> 
0: jdbc:luciddb:> -- log files should be created in logDir
0: jdbc:luciddb:> create or replace server flatfile_server
. . . . . . . . > foreign data wrapper "FLAT FILE"
. . . . . . . . > options (
. . . . . . . . >   directory '@LOGDIR@',
. . . . . . . . >   log_directory '@LOGDIR@',
. . . . . . . . >   file_extension 'log',
. . . . . . . . >   field_delimiter '\t'
. . . . . . . . > );
0: jdbc:luciddb:> 
0: jdbc:luciddb:> create schema lschema;
0: jdbc:luciddb:> import foreign schema bcp
. . . . . . . . > limit to table_name like 'Export%'
. . . . . . . . > from server flatfile_server
. . . . . . . . > into lschema;
0: jdbc:luciddb:> 
0: jdbc:luciddb:> -- one log file per schema export should exist (3)
0: jdbc:luciddb:> select count(*) from sys_root.dba_tables where schema_name='LSCHEMA';
+---------+
| EXPR$0  |
+---------+
| 3       |
+---------+
0: jdbc:luciddb:> 
0: jdbc:luciddb:> -- cleanup 
0: jdbc:luciddb:> drop server flatfile_server cascade;
0: jdbc:luciddb:> drop server exp_server cascade;
0: jdbc:luciddb:> drop schema exportfile cascade;
0: jdbc:luciddb:> 
0: jdbc:luciddb:> !quit
