0: jdbc:luciddb:> set schema 'udptest';
0: jdbc:luciddb:> set path 'udptest';
0: jdbc:luciddb:> 
0: jdbc:luciddb:> --
0: jdbc:luciddb:> -- no bcp
0: jdbc:luciddb:> --
0: jdbc:luciddb:> call sys_root.export_schema_to_csv('LOCALDB', 'UDPTEST', false, 'types,bench100,EMP', null, '@EXPDIR@/misc/nobcp', false);
0: jdbc:luciddb:> 
0: jdbc:luciddb:> create server misc_server
. . . . . . . . > foreign data wrapper sys_file_wrapper
. . . . . . . . > options(
. . . . . . . . >   directory '@EXPDIR@/misc/nobcp',
. . . . . . . . >   file_extension '.txt',
. . . . . . . . >   ctrl_file_extension '.bcp',
. . . . . . . . >   field_delimiter '\t',
. . . . . . . . >   line_delimiter '\n',
. . . . . . . . >   quote_char '"',
. . . . . . . . >   escape_char '',
. . . . . . . . >   with_header 'yes',
. . . . . . . . >   num_rows_scan '2'
. . . . . . . . > );
0: jdbc:luciddb:> 
0: jdbc:luciddb:> select * from table( get_column_info(
. . . . . . . . > cursor(select * from misc_server.BCP."types")));
+--------------+----------+-------+------------+--------+
|     NAME     |   TYPE   | SIZE  | PRECISION  | SCALE  |
+--------------+----------+-------+------------+--------+
| c_char       | VARCHAR  | 256   | 256        | 0      |
| c_varchar    | VARCHAR  | 256   | 256        | 0      |
| c_decimal    | DOUBLE   | 22    | 15         | 0      |
| c_tinyint    | INTEGER  | 10    | 10         | 0      |
| c_smallint   | INTEGER  | 10    | 10         | 0      |
| c_integer    | BIGINT   | 19    | 19         | 0      |
| c_bigint     | BIGINT   | 19    | 19         | 0      |
| c_real       | DOUBLE   | 22    | 15         | 0      |
| c_double     | DOUBLE   | 22    | 15         | 0      |
| c_boolean    | VARCHAR  | 256   | 256        | 0      |
| c_date       | VARCHAR  | 256   | 256        | 0      |
| c_time       | VARCHAR  | 256   | 256        | 0      |
| c_timestamp  | VARCHAR  | 256   | 256        | 0      |
+--------------+----------+-------+------------+--------+
0: jdbc:luciddb:> 
0: jdbc:luciddb:> drop server misc_server cascade;
0: jdbc:luciddb:> 
0: jdbc:luciddb:> -- call from within different catalog
0: jdbc:luciddb:> set schema 'sys_boot.jdbc_metadata';
0: jdbc:luciddb:> 
0: jdbc:luciddb:> -- negative test
0: jdbc:luciddb:> call localdb.sys_root.export_schema_to_csv(null, 'UDPTEST', false, null, 't____', '@EXPDIR@/misc/diffcat', true);
Error: From line 1, column 15 to line 1, column 31: Table 'UDPTEST.types' not found (state=,code=0)
0: jdbc:luciddb:> 
0: jdbc:luciddb:> call localdb.sys_root.export_schema_to_csv('LOCALDB', 'UDPTEST', false, null, 't____', '@EXPDIR@/misc/diffcat', true);
0: jdbc:luciddb:> 
0: jdbc:luciddb:> 
0: jdbc:luciddb:> create server misc_server
. . . . . . . . > foreign data wrapper sys_file_wrapper
. . . . . . . . > options(
. . . . . . . . >   directory '@EXPDIR@/misc/diffcat',
. . . . . . . . >   file_extension '.txt',
. . . . . . . . >   ctrl_file_extension '.bcp',
. . . . . . . . >   field_delimiter '\t',
. . . . . . . . >   line_delimiter '\n',
. . . . . . . . >   quote_char '"',
. . . . . . . . >   escape_char '',
. . . . . . . . >   with_header 'yes',
. . . . . . . . >   num_rows_scan '2'
. . . . . . . . > );
0: jdbc:luciddb:> 
0: jdbc:luciddb:> select * from table( localdb.udptest.get_column_info(
. . . . . . . . > cursor(select * from misc_server.BCP."types")));
+--------------+------------+-------+------------+--------+
|     NAME     |    TYPE    | SIZE  | PRECISION  | SCALE  |
+--------------+------------+-------+------------+--------+
| c_char       | CHAR       | 10    | 10         | 0      |
| c_varchar    | VARCHAR    | 10    | 10         | 0      |
| c_decimal    | DECIMAL    | 10    | 10         | 3      |
| c_tinyint    | TINYINT    | 3     | 3          | 0      |
| c_smallint   | SMALLINT   | 5     | 5          | 0      |
| c_integer    | INTEGER    | 10    | 10         | 0      |
| c_bigint     | BIGINT     | 19    | 19         | 0      |
| c_real       | REAL       | 13    | 7          | 0      |
| c_double     | DOUBLE     | 22    | 15         | 0      |
| c_boolean    | BOOLEAN    | 5     | 1          | 0      |
| c_date       | DATE       | 10    | 0          | 0      |
| c_time       | TIME       | 8     | 0          | 0      |
| c_timestamp  | TIMESTAMP  | 19    | 0          | 0      |
+--------------+------------+-------+------------+--------+
0: jdbc:luciddb:> 
0: jdbc:luciddb:> set schema 'localdb.udptest';
0: jdbc:luciddb:> 
0: jdbc:luciddb:> --
0: jdbc:luciddb:> -- negative tests
0: jdbc:luciddb:> --
0: jdbc:luciddb:> 
0: jdbc:luciddb:> -- table_list and table_pattern both not null
0: jdbc:luciddb:> call sys_root.export_schema_to_csv(null, 'UDPTEST', false, 'SALES', '%100', '@EXPDIR@/misc/neg', true);
Error: At most one of table_list/table_pattern can be specified (state=,code=0)
0: jdbc:luciddb:> 
0: jdbc:luciddb:> call sys_root.export_foreign_schema_to_csv('MISC_SERVER', 'BCP', false, 'SALES', '%100', '@EXPDIR@/misc/neg', false);
Error: At most one of table_list/table_pattern can be specified (state=,code=0)
0: jdbc:luciddb:> 
0: jdbc:luciddb:> -- incorrect table within table_list
0: jdbc:luciddb:> call sys_root.export_schema_to_csv('LOCALDB', 'UDPTEST', true, 'SALES, emp, PRODUCTS', null, '@EXPDIR@/misc/neg', true);
Error: Table emp in list not found (state=,code=0)
0: jdbc:luciddb:>  
0: jdbc:luciddb:> call sys_root.export_foreign_schema_to_csv('MISC_SERVER', 'BCP', false, 'EMP, DEPT, types', null, '@EXPDIR@/misc/neg', false);
Error: One or more tables not found while importing foreign schema "BCP":  [EMP, DEPT] (state=,code=0)
0: jdbc:luciddb:> 
0: jdbc:luciddb:> -- incorrect catalog name
0: jdbc:luciddb:> call sys_root.export_schema_to_csv('LOCAL', 'UDPTEST', true, 'DEPT', null, '@EXPDIR@/misc/neg', true);
Error: Table DEPT in list not found (state=,code=0)
0: jdbc:luciddb:> 
0: jdbc:luciddb:> -- incorrect schema name
0: jdbc:luciddb:> call sys_root.export_schema_to_csv('LOCALDB', 'UDP', true, 'bench', null, '@EXPDIR@/misc/neg', true);
Error: Table bench in list not found (state=,code=0)
0: jdbc:luciddb:> 
0: jdbc:luciddb:> -- incorrect server name
0: jdbc:luciddb:> call sys_root.export_foreign_schema_to_csv('FF_SERV', 'BCP', false, 'LOCATION', null, '@EXPDIR@/misc/neg', false);
Error: DDL validation error near line 1, column 63: Reference to unknown data server "FF_SERV" (state=,code=0)
0: jdbc:luciddb:> 
0: jdbc:luciddb:> -- incorrect foreign schema name
0: jdbc:luciddb:> call sys_root.export_foreign_schema_to_csv('FF_SERVER', 'FILE', false, 'LOCATION', null, '@EXPDIR@/misc/neg', false);
Error: Unknown foreign schema "FILE" (state=,code=0)
0: jdbc:luciddb:> 
0: jdbc:luciddb:> -- check export directory
0: jdbc:luciddb:> create server neg_server
. . . . . . . . > foreign data wrapper sys_file_wrapper
. . . . . . . . > options(
. . . . . . . . >   directory '@EXPDIR@/misc/neg',
. . . . . . . . >   file_extension '.txt',
. . . . . . . . >   ctrl_file_extension '.bcp',
. . . . . . . . >   field_delimiter '\t',
. . . . . . . . >   line_delimiter '\n',
. . . . . . . . >   quote_char '"',
. . . . . . . . >   escape_char '',
. . . . . . . . >   with_header 'yes',
. . . . . . . . >   num_rows_scan '2'
. . . . . . . . > );
Error: Directory @EXPDIR@/misc/neg/ does not exist (state=,code=0)
0: jdbc:luciddb:> 
0: jdbc:luciddb:> create schema neg;
0: jdbc:luciddb:> 
0: jdbc:luciddb:> import foreign schema BCP
. . . . . . . . > from server neg_server
. . . . . . . . > into neg;
Error: DDL validation error near line 1, column 39: Reference to unknown data server "NEG_SERVER" (state=,code=0)
0: jdbc:luciddb:> 
0: jdbc:luciddb:> select table_name from sys_root.dba_tables where
. . . . . . . . > schema_name = 'NEG'
. . . . . . . . > order by 1;
+-------------+
| TABLE_NAME  |
+-------------+
+-------------+
0: jdbc:luciddb:> 
0: jdbc:luciddb:> !quit
