CREATE foreign table @name_prefix@_schema.SHORTREG_DEPT_SRC (
DEPTNO INTEGER,
DNAME VARCHAR(20),
LOCID VARCHAR(2)
)
server @SERVER_NAME@
options (
SCHEMA_NAME '@SCHEMA@',
@TABLE_NAME@ 'DEPT'
);

INSERT INTO s.DEPT
SELECT DEPTNO,DNAME,LOCID
FROM @name_prefix@_schema.SHORTREG_DEPT_SRC;
