0: jdbc:luciddb:> CREATE foreign table @name_prefix@_schema.SHORTREG_EMP_SRC (
. . . . . . . . > EMPNO INTEGER,
. . . . . . . . > FNAME VARCHAR(20),
. . . . . . . . > LNAME VARCHAR(20),
. . . . . . . . > SEX VARCHAR(1),
. . . . . . . . > DEPTNO INTEGER,
. . . . . . . . > MANAGER INTEGER,
. . . . . . . . > LOCID VARCHAR(2),
. . . . . . . . > SAL INTEGER,
. . . . . . . . > COMMISSION INTEGER,
. . . . . . . . > HOBBY VARCHAR(20)
. . . . . . . . > )
. . . . . . . . > server @SERVER_NAME@
. . . . . . . . > options (
. . . . . . . . > SCHEMA_NAME '@SCHEMA@',
. . . . . . . . > @TABLE_NAME@ 'EMP'
. . . . . . . . > );
0: jdbc:luciddb:> 
0: jdbc:luciddb:> INSERT INTO s.EMP
. . . . . . . . > SELECT EMPNO,FNAME,LNAME,SEX,DEPTNO,MANAGER,LOCID,SAL,COMMISSION,HOBBY
. . . . . . . . > FROM @name_prefix@_schema.SHORTREG_EMP_SRC;
0: jdbc:luciddb:> 
0: jdbc:luciddb:> !quit
