0: jdbc:luciddb:> CREATE foreign table @name_prefix@_schema.SHORTREG_SALES_SRC (
. . . . . . . . > CUSTID INTEGER,
. . . . . . . . > EMPNO INTEGER,
. . . . . . . . > PRODID INTEGER,
. . . . . . . . > PRICE DOUBLE
. . . . . . . . > )
. . . . . . . . > server @SERVER_NAME@
. . . . . . . . > options (
. . . . . . . . > SCHEMA_NAME '@SCHEMA@',
. . . . . . . . > @TABLE_NAME@ 'SALES'
. . . . . . . . > );
0: jdbc:luciddb:> 
0: jdbc:luciddb:> INSERT INTO s.SALES
. . . . . . . . > SELECT CUSTID,EMPNO,PRODID,PRICE
. . . . . . . . > FROM @name_prefix@_schema.SHORTREG_SALES_SRC;
0: jdbc:luciddb:> 
0: jdbc:luciddb:> !quit
