-- $Id: download.sql $

--
-- Download company data from SQL (some) Server
--

-- setup link to SQL server
-- CREATE SCHEMA SQLSERVER USING LINK ODBC_SQLSERVER
-- DEFINED BY 'BENCHMARK.dbo';

-- /creschema.sql

create foreign data wrapper @DATA_WRAPPER_NAME@
library '@DATA_LIBRARY@'
language java;

create server @SERVER_NAME@
foreign data wrapper @DATA_WRAPPER_NAME@
options(

    url '@URL@',
    user_name '@USERNAME@',
    password '@PASSWORD@',
    schema_name '@SCHEMA_NAME@',
    qualifying_catalog_name '@CATALOG_NAME@',
    table_types '@TABLE_TYPES@',
    driver_class '@DRIVER_CLASS@'

    directory '@DIRECTORY@',
    file_extension '@FILE_EXTENSION@',
    ctrl_file_extension '@CTRL_FILE_EXT@',
    field_delimiter '@FIELD_DELIM@',
    line_delimiter '@LINE_DELIM@',
    quote_char '@QUOTE_CHAR@',
    escape_char '@ESCAPE_CHAR@',
    with_header '@WITH_HEADER@',
    num_rows_scan '@NUM_ROWS_SCAN@'

);

set schema 's';

-- Download
INSERT INTO LOCATION SELECT * FROM @SERVER_NAME@."@SCHEMA@".LOCATION;
INSERT INTO DEPT SELECT * FROM @SERVER_NAME@."@SCHEMA@".DEPT;
INSERT INTO EMP SELECT * FROM @SERVER_NAME@."@SCHEMA@".EMP;
INSERT INTO CUSTOMERS SELECT * FROM @SERVER_NAME@."@SCHEMA@".CUSTOMERS;
INSERT INTO PRODUCTS SELECT * FROM @SERVER_NAME@."@SCHEMA@".PRODUCTS;
INSERT INTO SALES SELECT * FROM @SERVER_NAME@."@SCHEMA@".SALES;

-- Check the download
select count(*) from location;
select count(*) from dept;
select count(*) from emp;
select count(*) from customers;
select count(*) from products;
select count(*) from sales;

-- analyze the columns to get the statistics
-- analyze table EMP estimate statistics for all columns SAMPLE 100 PERCENT;
-- analyze table PRODUCTS estimate statistics for all columns SAMPLE 100 PERCENT;
-- analyze table SALES estimate statistics for all columns SAMPLE 100 PERCENT;
-- analyze table CUSTOMERS estimate statistics for all columns SAMPLE 100 PERCENT;
-- analyze table LOCATION estimate statistics for all columns SAMPLE 100 PERCENT;
-- analyze table DEPT estimate statistics for all columns SAMPLE 100 PERCENT;
