0: jdbc:luciddb:> -- $Id: download.sql $
0: jdbc:luciddb:> 
0: jdbc:luciddb:> 
0: jdbc:luciddb:> -- setup link to SQL server
0: jdbc:luciddb:> -- CREATE SCHEMA SQLSERVER USING LINK ODBC_SQLSERVER
0: jdbc:luciddb:> -- DEFINED BY 'BENCHMARK.dbo';
0: jdbc:luciddb:> 
0: jdbc:luciddb:> 
0: jdbc:luciddb:> create server ff_server
. . . . . . . . > foreign data wrapper sys_file_wrapper
. . . . . . . . > options(
. . . . . . . . >     directory '@DIR@',
. . . . . . . . >     file_extension '.csv',
. . . . . . . . >     ctrl_file_extension '.bcp',
. . . . . . . . >     field_delimiter ',',
. . . . . . . . >     line_delimiter '\n',
. . . . . . . . >     quote_char '"',
. . . . . . . . >     escape_char '',
. . . . . . . . >     with_header 'yes',
. . . . . . . . >     num_rows_scan '9'
. . . . . . . . > );
0: jdbc:luciddb:> 
0: jdbc:luciddb:> set schema 's';
0: jdbc:luciddb:> 
0: jdbc:luciddb:> -- Download
0: jdbc:luciddb:> INSERT INTO LOCATION SELECT * FROM ff_server."BCP".LOCATION;
0: jdbc:luciddb:> INSERT INTO DEPT SELECT * FROM ff_server."BCP".DEPT;
0: jdbc:luciddb:> INSERT INTO EMP SELECT * FROM ff_server."BCP".EMP;
0: jdbc:luciddb:> INSERT INTO CUSTOMERS SELECT * FROM ff_server."BCP".CUSTOMERS;
0: jdbc:luciddb:> INSERT INTO PRODUCTS SELECT * FROM ff_server."BCP".PRODUCTS;
0: jdbc:luciddb:> INSERT INTO SALES SELECT * FROM ff_server."BCP".SALES;
0: jdbc:luciddb:> 
0: jdbc:luciddb:> -- Check the download
0: jdbc:luciddb:> select count(*) from location;
+---------+
| EXPR$0  |
+---------+
| 4       |
+---------+
0: jdbc:luciddb:> select count(*) from dept;
+---------+
| EXPR$0  |
+---------+
| 5       |
+---------+
0: jdbc:luciddb:> select count(*) from emp;
+---------+
| EXPR$0  |
+---------+
| 11      |
+---------+
0: jdbc:luciddb:> select count(*) from customers;
+---------+
| EXPR$0  |
+---------+
| 100     |
+---------+
0: jdbc:luciddb:> select count(*) from products;
+---------+
| EXPR$0  |
+---------+
| 16      |
+---------+
0: jdbc:luciddb:> select count(*) from sales;
+---------+
| EXPR$0  |
+---------+
| 1000    |
+---------+
0: jdbc:luciddb:> 
0: jdbc:luciddb:> -- analyze the columns to get the statistics
0: jdbc:luciddb:> -- analyze table EMP estimate statistics for all columns SAMPLE 100 PERCENT;
0: jdbc:luciddb:> -- analyze table PRODUCTS estimate statistics for all columns SAMPLE 100 PERCENT;
0: jdbc:luciddb:> -- analyze table SALES estimate statistics for all columns SAMPLE 100 PERCENT;
0: jdbc:luciddb:> -- analyze table CUSTOMERS estimate statistics for all columns SAMPLE 100 PERCENT;
0: jdbc:luciddb:> -- analyze table LOCATION estimate statistics for all columns SAMPLE 100 PERCENT;
0: jdbc:luciddb:> -- analyze table DEPT estimate statistics for all columns SAMPLE 100 PERCENT;
0: jdbc:luciddb:> 
0: jdbc:luciddb:> !quit
