create foreign data wrapper local_file_wrapper
library 'class com.lucidera.farrago.namespace.flatfile.FlatFileDataWrapper'
language java;

-- all non-null column values of type SQLVARCHAR quoted
create server ff_server_dev
foreign data wrapper local_file_wrapper
options (
    directory '@open.dir@/luciddb/test/sql/sfdc/data/dev',
    file_extension 'txt',
    with_header 'yes', 
    escape_char '',
    field_delimiter '\t',
    line_delimiter '\r\n', 
    log_directory 'testlog');


create schema dev_schema;
IMPORT FOREIGN SCHEMA bcp FROM SERVER ff_server_dev INTO dev_schema;

set schema 'dev_schema';

select * from dev_schema."Account" order by "Id";

select "Name", "CreatedDate" from dev_schema."Profile" where "CreatedDate" > '2005' order by "Name";

select "Name", "DefaultPrice" from dev_schema."Product" where "DefaultPrice" > 5000 order by "DefaultPrice", "Name";

select count(*) from dev_schema."Campaign";

-- all non-null column values quoted
create server ff_server_enterprise
foreign data wrapper local_file_wrapper
options (
    directory '@open.dir@/luciddb/test/sql/sfdc/data/enterprise',
    file_extension 'txt',
    with_header 'yes', 
    escape_char '',
    field_delimiter '\t',
    line_delimiter '\r\n', 
    log_directory 'testlog');

create schema enterprise_schema;
IMPORT FOREIGN SCHEMA bcp FROM SERVER ff_server_enterprise INTO enterprise_schema;

set schema 'enterprise_schema';

select * from enterprise_schema."RevenueForecast" order by "Id";

select "Id", "WhoId", "Description", "SystemModstamp" from enterprise_schema."Task" order by "Id";

select "Id", "StartDate", "Number" from enterprise_schema."Period" where "Number" > 5 order by "StartDate", "Id";
