-- Tests for db admin views

create schema dbavtest;
set schema 'dbavtest';

-- misc adding udf
create function adding(numA int, decA decimal(10,2))
returns decimal(10,2)
language sql
contains sql
return (numA + decA);

-- create procedure in DBAVTEST
create or replace procedure grant_select_for_schema(
in schemaname varchar(255), 
in username varchar(255))
language java
parameter style java
reads sql data
external name 'applib.applibJar:com.lucidera.luciddb.applib.security.GrantSelectForSchemaUdp.execute';

-- dba_routines & routine parameters
select catalog_name, schema_name, invocation_name, specific_name, 
  external_name, routine_type, is_table_function, parameter_style,
  is_deterministic, data_access
from sys_root.dba_routines
where schema_name='DBAVTEST'
order by 1,2,3,4;

select creation_timestamp < current_timestamp, 
  creation_timestamp <= last_modified_timestamp
from sys_root.dba_routines
where schema_name='DBAVTEST';

select routine_specific_name, parameter_name, ordinal_position, datatype, "PRECISION",
  dec_digits
from sys_root.dba_routine_parameters
where schema_name='DBAVTEST'
order by 1,3,2;

select count(distinct mof_id) 
from sys_root.dba_routine_parameters
where schema_name='DBAVTEST';

-- dba_functions and dba_function parameters
select catalog_name, schema_name, invocation_name, specific_name, 
  external_name, routine_type, is_table_function, parameter_style,
  is_deterministic, data_access
from sys_root.dba_functions
where schema_name='DBAVTEST'
order by 1,2,3,4;

select routine_specific_name, parameter_name, ordinal_position, datatype, "PRECISION",
  dec_digits
from sys_root.dba_function_parameters
where schema_name='DBAVTEST'
order by 1,3,2;

-- dba_schemas
create schema tt;

select catalog_name, schema_name
from sys_root.dba_schemas 
where schema_name='TT';

drop schema tt;

select catalog_name, schema_name
from sys_root.dba_schemas
where schema_name='TT';

-- dba_foreign_wrappers and dba_foreign_wrapper_options
create foreign data wrapper dbatest_ff_jdbc
library 'class com.lucidera.farrago.namespace.flatfile.FlatFileDataWrapper'
language java
options ( random_opt1 'random_opt_value');

select foreign_wrapper_name, library, "LANGUAGE"
from sys_root.dba_foreign_wrappers
where foreign_wrapper_name = 'DBATEST_FF_JDBC';

select foreign_wrapper_name, option_name, option_value
from sys_root.dba_foreign_wrapper_options
where foreign_wrapper_name = 'DBATEST_FF_JDBC';

-- dba_foreign_servers and dba_foreign_server_options
create server dbatest_ff_server
foreign data wrapper dbatest_ff_jdbc
options(    
    directory '@DIR@',
    file_extension '.csv',
    ctrl_file_extension '.bcp',
    field_delimiter ',',
    line_delimiter '\n',
    quote_char '"',
    escape_char '',
    with_header 'yes',
    num_rows_scan '1'
);

select foreign_wrapper_name, foreign_server_name, 
  creation_timestamp <= last_modified_timestamp
from sys_root.dba_foreign_servers
where foreign_wrapper_name='DBATEST_FF_JDBC';

select foreign_server_name, option_name, option_value
from sys_root.dba_foreign_server_options
where foreign_wrapper_name='DBATEST_FF_JDBC'
  and option_name <> 'DIRECTORY';

-- dba_foreign_tables and dba_foreign_table_options
create foreign table EMPS
server dbatest_ff_server
options(
SCHEMA_NAME 'BCP',
filename 'EMP'
);

analyze table EMPS compute statistics for all columns;

select foreign_server_name, foreign_table_name, 
  last_analyze_timestamp >= creation_timestamp
from sys_root.dba_foreign_tables
where foreign_wrapper_name='DBATEST_FF_JDBC';

select foreign_table_name, option_name, option_value
from sys_root.dba_foreign_table_options
where foreign_server_name='DBATEST_FF_SERVER';

-- dba_tables, dba_views, dba_stored_tables
create table dbavtest.table1(col1 int, col2 int);

create view dbavtest.empview as 
select * from dbavtest.emps;

select catalog_name, schema_name, table_name, table_type
from sys_root.dba_tables
where schema_name='DBAVTEST'
order by table_name;

select count(distinct lineage_Id)
from sys_root.dba_tables
where schema_name='DBAVTEST';

select catalog_name, view_name, original_text
from sys_root.dba_views
where schema_name='DBAVTEST';

select table_name, last_analyze_row_count, 
  last_analyze_timestamp > creation_timestamp
from sys_root.dba_stored_tables
where schema_name='DBAVTEST';

-- dba_columns
select catalog_name, table_name, column_name, ordinal_position, datatype,
  "PRECISION", dec_digits, is_nullable
from sys_root.dba_columns
where schema_name='DBAVTEST';


-- test creator field
create user lala authorization 'Unknown' Default schema DBAVTEST;

!closeall
!connect jdbc:luciddb: LALA ""

create table dbavtest.lalatable(lolo int);

!closeall
!connect jdbc:luciddb: sa ""

select catalog_name, schema_name, table_name, table_type, creator
from sys_root.dba_tables
where creator='LALA';

-- just check that these can execute for now 
select * from sys_root.dba_system_parameters where false;
select * from sys_root.dba_sessions where false;
select * from sys_root.dba_sql_statements where false;
select * from sys_root.dba_repository_properties where false;
select * from sys_root.dba_repository_integrity_violations where false;
select * from sys_root.dba_objects_in_use where false;
select * from sys_root.dba_threads where false;
select * from sys_root.dba_thread_stack_entries where false;
select * from sys_root.dba_performance_counters where false;
select * from sys_root.dba_system_info where false;
select * from sys_root.user_session_parameters where false;

-- check if number of temp allocated pages is 0
alter system deallocate old;
select counter_name, counter_value
from sys_root.dba_performance_counters
where counter_name = 'TempPagesAllocatedAfterReclaim';
