0: jdbc:luciddb:> -- Tests for db admin views
0: jdbc:luciddb:> 
0: jdbc:luciddb:> create schema dbavtest;
0: jdbc:luciddb:> set schema 'dbavtest';
0: jdbc:luciddb:> 
0: jdbc:luciddb:> -- misc adding udf
0: jdbc:luciddb:> create function adding(numA int, decA decimal(10,2))
. . . . . . . . > returns decimal(10,2)
. . . . . . . . > language sql
. . . . . . . . > contains sql
. . . . . . . . > return (numA + decA);
0: jdbc:luciddb:> 
0: jdbc:luciddb:> -- create procedure in DBAVTEST
0: jdbc:luciddb:> create or replace procedure grant_select_for_schema(
. . . . . . . . > in schemaname varchar(255), 
. . . . . . . . > in username varchar(255))
. . . . . . . . > language java
. . . . . . . . > parameter style java
. . . . . . . . > reads sql data
. . . . . . . . > external name 'applib.applibJar:com.lucidera.luciddb.applib.security.GrantSelectForSchemaUdp.execute';
0: jdbc:luciddb:> 
0: jdbc:luciddb:> -- dba_routines & routine parameters
0: jdbc:luciddb:> select catalog_name, schema_name, invocation_name, specific_name, 
. . . . . . . . >   external_name, routine_type, is_table_function, parameter_style,
. . . . . . . . >   is_deterministic, data_access
. . . . . . . . > from sys_root.dba_routines
. . . . . . . . > where schema_name='DBAVTEST'
. . . . . . . . > order by 1,2,3,4;
+---------------+--------------+--------------------------+--------------------------+------------------------------------------------------------------------------------------------------+---------------+--------------------+------------------+-------------------+---------------------+
| CATALOG_NAME  | SCHEMA_NAME  |     INVOCATION_NAME      |      SPECIFIC_NAME       |                                            EXTERNAL_NAME                                             | ROUTINE_TYPE  | IS_TABLE_FUNCTION  | PARAMETER_STYLE  | IS_DETERMINISTIC  |     DATA_ACCESS     |
+---------------+--------------+--------------------------+--------------------------+------------------------------------------------------------------------------------------------------+---------------+--------------------+------------------+-------------------+---------------------+
| LOCALDB       | DBAVTEST     | ADDING                   | ADDING                   |                                                                                                      | FUNCTION      | false              |                  | false             | RDA_CONTAINS_SQL    |
| LOCALDB       | DBAVTEST     | GRANT_SELECT_FOR_SCHEMA  | GRANT_SELECT_FOR_SCHEMA  | "LOCALDB"."APPLIB"."APPLIBJAR":com.lucidera.luciddb.applib.security.GrantSelectForSchemaUdp.execute  | PROCEDURE     | false              | RPS_JAVA         | false             | RDA_READS_SQL_DATA  |
+---------------+--------------+--------------------------+--------------------------+------------------------------------------------------------------------------------------------------+---------------+--------------------+------------------+-------------------+---------------------+
0: jdbc:luciddb:> 
0: jdbc:luciddb:> select creation_timestamp < current_timestamp, 
. . . . . . . . >   creation_timestamp <= last_modified_timestamp
. . . . . . . . > from sys_root.dba_routines
. . . . . . . . > where schema_name='DBAVTEST';
+---------+---------+
| EXPR$0  | EXPR$1  |
+---------+---------+
| true    | true    |
| true    | true    |
+---------+---------+
0: jdbc:luciddb:> 
0: jdbc:luciddb:> select routine_specific_name, parameter_name, ordinal_position, datatype, "PRECISION",
. . . . . . . . >   dec_digits
. . . . . . . . > from sys_root.dba_routine_parameters
. . . . . . . . > where schema_name='DBAVTEST'
. . . . . . . . > order by 1,3,2;
+--------------------------+-----------------+-------------------+-----------+------------+-------------+
|  ROUTINE_SPECIFIC_NAME   | PARAMETER_NAME  | ORDINAL_POSITION  | DATATYPE  | PRECISION  | DEC_DIGITS  |
+--------------------------+-----------------+-------------------+-----------+------------+-------------+
| ADDING                   | NUMA            | 1                 | INTEGER   |            |             |
| ADDING                   | DECA            | 2                 | DECIMAL   | 10         | 2           |
| GRANT_SELECT_FOR_SCHEMA  | SCHEMANAME      | 1                 | VARCHAR   | 255        |             |
| GRANT_SELECT_FOR_SCHEMA  | USERNAME        | 2                 | VARCHAR   | 255        |             |
+--------------------------+-----------------+-------------------+-----------+------------+-------------+
0: jdbc:luciddb:> 
0: jdbc:luciddb:> select count(distinct mof_id) 
. . . . . . . . > from sys_root.dba_routine_parameters
. . . . . . . . > where schema_name='DBAVTEST';
+---------+
| EXPR$0  |
+---------+
| 4       |
+---------+
0: jdbc:luciddb:> 
0: jdbc:luciddb:> -- dba_functions and dba_function parameters
0: jdbc:luciddb:> select catalog_name, schema_name, invocation_name, specific_name, 
. . . . . . . . >   external_name, routine_type, is_table_function, parameter_style,
. . . . . . . . >   is_deterministic, data_access
. . . . . . . . > from sys_root.dba_functions
. . . . . . . . > where schema_name='DBAVTEST'
. . . . . . . . > order by 1,2,3,4;
+---------------+--------------+------------------+----------------+----------------+---------------+--------------------+------------------+-------------------+-------------------+
| CATALOG_NAME  | SCHEMA_NAME  | INVOCATION_NAME  | SPECIFIC_NAME  | EXTERNAL_NAME  | ROUTINE_TYPE  | IS_TABLE_FUNCTION  | PARAMETER_STYLE  | IS_DETERMINISTIC  |    DATA_ACCESS    |
+---------------+--------------+------------------+----------------+----------------+---------------+--------------------+------------------+-------------------+-------------------+
| LOCALDB       | DBAVTEST     | ADDING           | ADDING         |                | FUNCTION      | false              |                  | false             | RDA_CONTAINS_SQL  |
+---------------+--------------+------------------+----------------+----------------+---------------+--------------------+------------------+-------------------+-------------------+
0: jdbc:luciddb:> 
0: jdbc:luciddb:> select routine_specific_name, parameter_name, ordinal_position, datatype, "PRECISION",
. . . . . . . . >   dec_digits
. . . . . . . . > from sys_root.dba_function_parameters
. . . . . . . . > where schema_name='DBAVTEST'
. . . . . . . . > order by 1,3,2;
+------------------------+-----------------+-------------------+-----------+------------+-------------+
| ROUTINE_SPECIFIC_NAME  | PARAMETER_NAME  | ORDINAL_POSITION  | DATATYPE  | PRECISION  | DEC_DIGITS  |
+------------------------+-----------------+-------------------+-----------+------------+-------------+
| ADDING                 | NUMA            | 1                 | INTEGER   |            |             |
| ADDING                 | RETURN          | 1                 | DECIMAL   | 10         | 2           |
| ADDING                 | DECA            | 2                 | DECIMAL   | 10         | 2           |
+------------------------+-----------------+-------------------+-----------+------------+-------------+
0: jdbc:luciddb:> 
0: jdbc:luciddb:> -- dba_schemas
0: jdbc:luciddb:> create schema tt;
0: jdbc:luciddb:> 
0: jdbc:luciddb:> select catalog_name, schema_name
. . . . . . . . > from sys_root.dba_schemas 
. . . . . . . . > where schema_name='TT';
+---------------+--------------+
| CATALOG_NAME  | SCHEMA_NAME  |
+---------------+--------------+
| LOCALDB       | TT           |
+---------------+--------------+
0: jdbc:luciddb:> 
0: jdbc:luciddb:> drop schema tt;
0: jdbc:luciddb:> 
0: jdbc:luciddb:> select catalog_name, schema_name
. . . . . . . . > from sys_root.dba_schemas
. . . . . . . . > where schema_name='TT';
+---------------+--------------+
| CATALOG_NAME  | SCHEMA_NAME  |
+---------------+--------------+
+---------------+--------------+
0: jdbc:luciddb:> 
0: jdbc:luciddb:> -- dba_foreign_wrappers and dba_foreign_wrapper_options
0: jdbc:luciddb:> create foreign data wrapper dbatest_ff_jdbc
. . . . . . . . > library 'class net.sf.farrago.namespace.flatfile.FlatFileDataWrapper'
. . . . . . . . > language java
. . . . . . . . > options ( random_opt1 'random_opt_value');
0: jdbc:luciddb:> 
0: jdbc:luciddb:> select foreign_wrapper_name, library, "LANGUAGE"
. . . . . . . . > from sys_root.dba_foreign_wrappers
. . . . . . . . > where foreign_wrapper_name = 'DBATEST_FF_JDBC';
+-----------------------+--------------------------------------------------------------+-----------+
| FOREIGN_WRAPPER_NAME  |                           LIBRARY                            | LANGUAGE  |
+-----------------------+--------------------------------------------------------------+-----------+
| DBATEST_FF_JDBC       | class net.sf.farrago.namespace.flatfile.FlatFileDataWrapper  | JAVA      |
+-----------------------+--------------------------------------------------------------+-----------+
0: jdbc:luciddb:> 
0: jdbc:luciddb:> select foreign_wrapper_name, option_name, option_value
. . . . . . . . > from sys_root.dba_foreign_wrapper_options
. . . . . . . . > where foreign_wrapper_name = 'DBATEST_FF_JDBC';
+-----------------------+--------------+-------------------+
| FOREIGN_WRAPPER_NAME  | OPTION_NAME  |   OPTION_VALUE    |
+-----------------------+--------------+-------------------+
| DBATEST_FF_JDBC       | RANDOM_OPT1  | random_opt_value  |
+-----------------------+--------------+-------------------+
0: jdbc:luciddb:> 
0: jdbc:luciddb:> -- dba_foreign_servers and dba_foreign_server_options
0: jdbc:luciddb:> create server dbatest_ff_server
. . . . . . . . > foreign data wrapper dbatest_ff_jdbc
. . . . . . . . > options(    
. . . . . . . . >     directory '@DIR@',
. . . . . . . . >     file_extension '.csv',
. . . . . . . . >     ctrl_file_extension '.bcp',
. . . . . . . . >     field_delimiter ',',
. . . . . . . . >     line_delimiter '\n',
. . . . . . . . >     quote_char '"',
. . . . . . . . >     escape_char '',
. . . . . . . . >     with_header 'yes',
. . . . . . . . >     num_rows_scan '1'
. . . . . . . . > );
0: jdbc:luciddb:> 
0: jdbc:luciddb:> select foreign_wrapper_name, foreign_server_name, 
. . . . . . . . >   creation_timestamp <= last_modified_timestamp
. . . . . . . . > from sys_root.dba_foreign_servers
. . . . . . . . > where foreign_wrapper_name='DBATEST_FF_JDBC';
+-----------------------+----------------------+---------+
| FOREIGN_WRAPPER_NAME  | FOREIGN_SERVER_NAME  | EXPR$2  |
+-----------------------+----------------------+---------+
| DBATEST_FF_JDBC       | DBATEST_FF_SERVER    | true    |
+-----------------------+----------------------+---------+
0: jdbc:luciddb:> 
0: jdbc:luciddb:> select foreign_server_name, option_name, option_value
. . . . . . . . > from sys_root.dba_foreign_server_options
. . . . . . . . > where foreign_wrapper_name='DBATEST_FF_JDBC'
. . . . . . . . >   and option_name <> 'DIRECTORY'
. . . . . . . . > order by 1,2;
+----------------------+----------------------+---------------+
| FOREIGN_SERVER_NAME  |     OPTION_NAME      | OPTION_VALUE  |
+----------------------+----------------------+---------------+
| DBATEST_FF_SERVER    | CTRL_FILE_EXTENSION  | .bcp          |
| DBATEST_FF_SERVER    | ESCAPE_CHAR          |               |
| DBATEST_FF_SERVER    | FIELD_DELIMITER      | ,             |
| DBATEST_FF_SERVER    | FILE_EXTENSION       | .csv          |
| DBATEST_FF_SERVER    | LINE_DELIMITER       | \n            |
| DBATEST_FF_SERVER    | NUM_ROWS_SCAN        | 1             |
| DBATEST_FF_SERVER    | QUOTE_CHAR           | "             |
| DBATEST_FF_SERVER    | WITH_HEADER          | yes           |
+----------------------+----------------------+---------------+
0: jdbc:luciddb:> 
0: jdbc:luciddb:> -- dba_foreign_tables and dba_foreign_table_options
0: jdbc:luciddb:> create foreign table EMPS
. . . . . . . . > server dbatest_ff_server
. . . . . . . . > options(
. . . . . . . . > SCHEMA_NAME 'BCP',
. . . . . . . . > filename 'EMP'
. . . . . . . . > );
0: jdbc:luciddb:> 
0: jdbc:luciddb:> analyze table EMPS compute statistics for all columns;
0: jdbc:luciddb:> 
0: jdbc:luciddb:> select foreign_server_name, foreign_table_name, 
. . . . . . . . >   last_analyze_timestamp >= creation_timestamp
. . . . . . . . > from sys_root.dba_foreign_tables
. . . . . . . . > where foreign_wrapper_name='DBATEST_FF_JDBC';
+----------------------+---------------------+---------+
| FOREIGN_SERVER_NAME  | FOREIGN_TABLE_NAME  | EXPR$2  |
+----------------------+---------------------+---------+
| DBATEST_FF_SERVER    | EMPS                | true    |
+----------------------+---------------------+---------+
0: jdbc:luciddb:> 
0: jdbc:luciddb:> select foreign_table_name, option_name, option_value
. . . . . . . . > from sys_root.dba_foreign_table_options
. . . . . . . . > where foreign_server_name='DBATEST_FF_SERVER'
. . . . . . . . > order by 1,2;
+---------------------+--------------+---------------+
| FOREIGN_TABLE_NAME  | OPTION_NAME  | OPTION_VALUE  |
+---------------------+--------------+---------------+
| EMPS                | FILENAME     | EMP           |
| EMPS                | SCHEMA_NAME  | BCP           |
+---------------------+--------------+---------------+
0: jdbc:luciddb:> 
0: jdbc:luciddb:> -- dba_tables, dba_views, dba_stored_tables
0: jdbc:luciddb:> create table dbavtest.table1(col1 int, col2 int default 3);
0: jdbc:luciddb:> 
0: jdbc:luciddb:> create view dbavtest.empview as 
. . . . . . . . > select * from dbavtest.emps;
0: jdbc:luciddb:> 
0: jdbc:luciddb:> select catalog_name, schema_name, table_name, table_type
. . . . . . . . > from sys_root.dba_tables
. . . . . . . . > where schema_name='DBAVTEST'
. . . . . . . . > order by table_name;
+---------------+--------------+-------------+----------------+
| CATALOG_NAME  | SCHEMA_NAME  | TABLE_NAME  |   TABLE_TYPE   |
+---------------+--------------+-------------+----------------+
| LOCALDB       | DBAVTEST     | EMPS        | FOREIGN TABLE  |
| LOCALDB       | DBAVTEST     | EMPVIEW     | LOCAL VIEW     |
| LOCALDB       | DBAVTEST     | TABLE1      | LOCAL TABLE    |
+---------------+--------------+-------------+----------------+
0: jdbc:luciddb:> 
0: jdbc:luciddb:> select count(distinct lineage_Id)
. . . . . . . . > from sys_root.dba_tables
. . . . . . . . > where schema_name='DBAVTEST';
+---------+
| EXPR$0  |
+---------+
| 3       |
+---------+
0: jdbc:luciddb:> 
0: jdbc:luciddb:> select catalog_name, view_name, original_text
. . . . . . . . > from sys_root.dba_views
. . . . . . . . > where schema_name='DBAVTEST';
+---------------+------------+------------------------------+
| CATALOG_NAME  | VIEW_NAME  |        ORIGINAL_TEXT         |
+---------------+------------+------------------------------+
| LOCALDB       | EMPVIEW    | select * from dbavtest.emps  |
+---------------+------------+------------------------------+
0: jdbc:luciddb:> 
0: jdbc:luciddb:> select table_name, last_analyze_row_count, 
. . . . . . . . >   last_analyze_timestamp > creation_timestamp
. . . . . . . . > from sys_root.dba_stored_tables
. . . . . . . . > where schema_name='DBAVTEST'
. . . . . . . . > order by 1;
+-------------+-------------------------+---------+
| TABLE_NAME  | LAST_ANALYZE_ROW_COUNT  | EXPR$2  |
+-------------+-------------------------+---------+
| EMPS        | 11                      | true    |
| TABLE1      |                         |         |
+-------------+-------------------------+---------+
0: jdbc:luciddb:> 
0: jdbc:luciddb:> -- dba_columns
0: jdbc:luciddb:> select catalog_name, table_name, column_name, ordinal_position, datatype,
. . . . . . . . >   "PRECISION", dec_digits, is_nullable, default_value
. . . . . . . . > from sys_root.dba_columns
. . . . . . . . > where schema_name='DBAVTEST'
. . . . . . . . > order by 2,4;
+---------------+-------------+--------------+-------------------+-----------+------------+-------------+--------------+----------------+
| CATALOG_NAME  | TABLE_NAME  | COLUMN_NAME  | ORDINAL_POSITION  | DATATYPE  | PRECISION  | DEC_DIGITS  | IS_NULLABLE  | DEFAULT_VALUE  |
+---------------+-------------+--------------+-------------------+-----------+------------+-------------+--------------+----------------+
| LOCALDB       | EMPS        | EMPNO        | 1                 | INTEGER   |            |             | true         |                |
| LOCALDB       | EMPS        | FNAME        | 2                 | VARCHAR   | 256        |             | true         |                |
| LOCALDB       | EMPS        | LNAME        | 3                 | VARCHAR   | 256        |             | true         |                |
| LOCALDB       | EMPS        | SEX          | 4                 | VARCHAR   | 256        |             | true         |                |
| LOCALDB       | EMPS        | DEPTNO       | 5                 | INTEGER   |            |             | true         |                |
| LOCALDB       | EMPS        | MANAGER      | 6                 | VARCHAR   | 256        |             | true         |                |
| LOCALDB       | EMPS        | LOCID        | 7                 | VARCHAR   | 256        |             | true         |                |
| LOCALDB       | EMPS        | SAL          | 8                 | INTEGER   |            |             | true         |                |
| LOCALDB       | EMPS        | COMMISSION   | 9                 | VARCHAR   | 256        |             | true         |                |
| LOCALDB       | EMPS        | HOBBY        | 10                | VARCHAR   | 256        |             | true         |                |
| LOCALDB       | EMPVIEW     | EMPNO        | 1                 | INTEGER   |            |             | true         |                |
| LOCALDB       | EMPVIEW     | FNAME        | 2                 | VARCHAR   | 256        |             | true         |                |
| LOCALDB       | EMPVIEW     | LNAME        | 3                 | VARCHAR   | 256        |             | true         |                |
| LOCALDB       | EMPVIEW     | SEX          | 4                 | VARCHAR   | 256        |             | true         |                |
| LOCALDB       | EMPVIEW     | DEPTNO       | 5                 | INTEGER   |            |             | true         |                |
| LOCALDB       | EMPVIEW     | MANAGER      | 6                 | VARCHAR   | 256        |             | true         |                |
| LOCALDB       | EMPVIEW     | LOCID        | 7                 | VARCHAR   | 256        |             | true         |                |
| LOCALDB       | EMPVIEW     | SAL          | 8                 | INTEGER   |            |             | true         |                |
| LOCALDB       | EMPVIEW     | COMMISSION   | 9                 | VARCHAR   | 256        |             | true         |                |
| LOCALDB       | EMPVIEW     | HOBBY        | 10                | VARCHAR   | 256        |             | true         |                |
| LOCALDB       | TABLE1      | COL1         | 1                 | INTEGER   |            |             | true         |                |
| LOCALDB       | TABLE1      | COL2         | 2                 | INTEGER   |            |             | true         | 3              |
+---------------+-------------+--------------+-------------------+-----------+------------+-------------+--------------+----------------+
0: jdbc:luciddb:> 
0: jdbc:luciddb:> -- dba_unclustered_indexes
0: jdbc:luciddb:> create table dbavtest.table2(col1 int, col2 int, col3 int, col4 int, col5 int,
. . . . . . . . >     col6 int,
. . . . . . . . >     primary key(col6, col2),
. . . . . . . . >     unique(col5, col1, col3));
0: jdbc:luciddb:> create index i_table2_1 on dbavtest.table2(col2);
0: jdbc:luciddb:> create index i_table2_2 on dbavtest.table2(col4, col1, col6);
0: jdbc:luciddb:> 
0: jdbc:luciddb:> select catalog_name, index_name, table_name, index_column_names, is_unique
. . . . . . . . >     from sys_root.dba_unclustered_indexes
. . . . . . . . >     where schema_name = 'DBAVTEST'
. . . . . . . . >     order by 2;
+---------------+------------------------------------------------------------+-------------+---------------------+------------+
| CATALOG_NAME  |                         INDEX_NAME                         | TABLE_NAME  | INDEX_COLUMN_NAMES  | IS_UNIQUE  |
+---------------+------------------------------------------------------------+-------------+---------------------+------------+
| LOCALDB       | I_TABLE2_1                                                 | TABLE2      | COL2                | false      |
| LOCALDB       | I_TABLE2_2                                                 | TABLE2      | COL4,COL1,COL6      | false      |
| LOCALDB       | SYS$CONSTRAINT_INDEX$SYS$PRIMARY_KEY$TABLE2                | TABLE2      | COL6,COL2           | true       |
| LOCALDB       | SYS$CONSTRAINT_INDEX$SYS$UNIQUE_KEY$TABLE2$COL5_COL1_COL3  | TABLE2      | COL5,COL1,COL3      | true       |
+---------------+------------------------------------------------------------+-------------+---------------------+------------+
0: jdbc:luciddb:> 
0: jdbc:luciddb:> -- dba_users
0: jdbc:luciddb:> select name from sys_root.dba_users where name = 'BOBBYTABLES';
+-------+
| NAME  |
+-------+
+-------+
0: jdbc:luciddb:> create user bobbytables;
0: jdbc:luciddb:> select name from sys_root.dba_users where name = 'BOBBYTABLES';
+--------------+
|     NAME     |
+--------------+
| BOBBYTABLES  |
+--------------+
0: jdbc:luciddb:> 
0: jdbc:luciddb:> -- dba_roles
0: jdbc:luciddb:> select name from sys_root.dba_roles where name = 'TUV';
+-------+
| NAME  |
+-------+
+-------+
0: jdbc:luciddb:> create role tuv;
0: jdbc:luciddb:> select name from sys_root.dba_roles where name = 'TUV';
+-------+
| NAME  |
+-------+
| TUV   |
+-------+
0: jdbc:luciddb:> 
0: jdbc:luciddb:> -- dba_element_grants
0: jdbc:luciddb:> create table dbavtest.luvtuv(gluv int);
0: jdbc:luciddb:> grant select on dbavtest.luvtuv to tuv;
0: jdbc:luciddb:> select granted_schema, granted_element, grantee, action,
. . . . . . . . >   grant_type
. . . . . . . . > from sys_root.dba_element_grants
. . . . . . . . > where granted_schema = 'DBAVTEST' and granted_element = 'LUVTUV' and
. . . . . . . . > grantee = 'TUV' and action = 'SELECT' and grant_type = 'Role';
+-----------------+------------------+----------+---------+-------------+
| GRANTED_SCHEMA  | GRANTED_ELEMENT  | GRANTEE  | ACTION  | GRANT_TYPE  |
+-----------------+------------------+----------+---------+-------------+
| DBAVTEST        | LUVTUV           | TUV      | SELECT  | Role        |
+-----------------+------------------+----------+---------+-------------+
0: jdbc:luciddb:> 
0: jdbc:luciddb:> grant role tuv to bobbytables;
0: jdbc:luciddb:> 
0: jdbc:luciddb:> select grantee, action,
. . . . . . . . > case
. . . . . . . . >   when r.role is not null then r.role
. . . . . . . . >   when grant_type = 'Role' then grantee
. . . . . . . . > end as role_name,
. . . . . . . . > grant_type
. . . . . . . . > from sys_root.dba_element_grants
. . . . . . . . > left outer join sys_root.dba_user_roles r
. . . . . . . . > on action = 'INHERIT_ROLE' and r.role_mof_id = element_mof_id
. . . . . . . . > where grantee = 'BOBBYTABLES' and action = 'INHERIT_ROLE' and
. . . . . . . . > r.role = 'TUV' and grant_type = 'User';
+--------------+---------------+------------+-------------+
|   GRANTEE    |    ACTION     | ROLE_NAME  | GRANT_TYPE  |
+--------------+---------------+------------+-------------+
| BOBBYTABLES  | INHERIT_ROLE  | TUV        | User        |
+--------------+---------------+------------+-------------+
0: jdbc:luciddb:> 
0: jdbc:luciddb:> create or replace function mult(n1 int, n2 int)
. . . . . . . . > returns int
. . . . . . . . > language sql
. . . . . . . . > contains sql
. . . . . . . . > return n1 * n2;
0: jdbc:luciddb:> 
0: jdbc:luciddb:> grant execute on specific function mult to tuv;
0: jdbc:luciddb:> select granted_element, action, class_name
. . . . . . . . > from sys_root.dba_element_grants
. . . . . . . . > where granted_element = 'MULT' and action = 'EXECUTE' and class_name='Routine';
+------------------+----------+-------------+
| GRANTED_ELEMENT  |  ACTION  | CLASS_NAME  |
+------------------+----------+-------------+
| MULT             | EXECUTE  | Routine     |
+------------------+----------+-------------+
0: jdbc:luciddb:> drop function mult;
0: jdbc:luciddb:> 
0: jdbc:luciddb:> -- dba_user_roles
0: jdbc:luciddb:> select name, role from sys_root.dba_user_roles where name='BOBBYTABLES' and
. . . . . . . . > role='TUV';
+--------------+-------+
|     NAME     | ROLE  |
+--------------+-------+
| BOBBYTABLES  | TUV   |
+--------------+-------+
0: jdbc:luciddb:> 
0: jdbc:luciddb:> drop user bobbytables;
0: jdbc:luciddb:> select name from sys_root.dba_users where name = 'BOBBYTABLES';
+-------+
| NAME  |
+-------+
+-------+
0: jdbc:luciddb:> drop role tuv;
0: jdbc:luciddb:> select name from sys_root.dba_roles where name = 'TUV';
+-------+
| NAME  |
+-------+
+-------+
0: jdbc:luciddb:> select grantee from sys_root.dba_element_grants where grantee in ('TUV', 'BOBBYTABLES');
+----------+
| GRANTEE  |
+----------+
+----------+
0: jdbc:luciddb:> select name, role from sys_root.dba_user_roles where name='BOBBYTABLES' and
. . . . . . . . > role='TUV';
+-------+-------+
| NAME  | ROLE  |
+-------+-------+
+-------+-------+
0: jdbc:luciddb:> 
0: jdbc:luciddb:> -- dba_jars
0: jdbc:luciddb:> select name, url, deployed from sys_root.dba_jars where name = 'APPLIBJAR';
+------------+-----------------------------------------+-----------+
|    NAME    |                   URL                   | DEPLOYED  |
+------------+-----------------------------------------+-----------+
| APPLIBJAR  | file:${FARRAGO_HOME}/plugin/applib.jar  | false     |
+------------+-----------------------------------------+-----------+
0: jdbc:luciddb:> 
0: jdbc:luciddb:> -- test creator field
0: jdbc:luciddb:> create user lala authorization 'Unknown' Default schema DBAVTEST;
0: jdbc:luciddb:> 
0: jdbc:luciddb:> !closeall
sqlline> !connect jdbc:luciddb: LALA ""
0: jdbc:luciddb:> 
0: jdbc:luciddb:> create table dbavtest.lalatable(lolo int);
0: jdbc:luciddb:> 
0: jdbc:luciddb:> !closeall
sqlline> !connect jdbc:luciddb: sa ""
0: jdbc:luciddb:> 
0: jdbc:luciddb:> select catalog_name, schema_name, table_name, table_type, creator
. . . . . . . . > from sys_root.dba_tables
. . . . . . . . > where creator='LALA';
+---------------+--------------+-------------+--------------+----------+
| CATALOG_NAME  | SCHEMA_NAME  | TABLE_NAME  |  TABLE_TYPE  | CREATOR  |
+---------------+--------------+-------------+--------------+----------+
| LOCALDB       | DBAVTEST     | LALATABLE   | LOCAL TABLE  | LALA     |
+---------------+--------------+-------------+--------------+----------+
0: jdbc:luciddb:> 
0: jdbc:luciddb:> -- just check that these can execute for now 
0: jdbc:luciddb:> select * from sys_root.dba_system_parameters where false;
+-------------+--------------+
| PARAM_NAME  | PARAM_VALUE  |
+-------------+--------------+
+-------------+--------------+
0: jdbc:luciddb:> select * from sys_root.dba_sessions where false;
+-------------+--------------+--------------------+--------------------+--------------------+-------------------+-----------------------+---------------+----------------------+--------------------+-----------------------+----------------------+------------+-----------------+---------------------+---------------------+
| SESSION_ID  | CONNECT_URL  | CURRENT_USER_NAME  | CURRENT_ROLE_NAME  | SESSION_USER_NAME  | SYSTEM_USER_NAME  | SYSTEM_USER_FULLNAME  | SESSION_NAME  | CLIENT_PROGRAM_NAME  | CLIENT_PROCESS_ID  | CURRENT_CATALOG_NAME  | CURRENT_SCHEMA_NAME  | IS_CLOSED  | IS_AUTO_COMMIT  | IS_TXN_IN_PROGRESS  | CURRENT_LABEL_NAME  |
+-------------+--------------+--------------------+--------------------+--------------------+-------------------+-----------------------+---------------+----------------------+--------------------+-----------------------+----------------------+------------+-----------------+---------------------+---------------------+
+-------------+--------------+--------------------+--------------------+--------------------+-------------------+-----------------------+---------------+----------------------+--------------------+-----------------------+----------------------+------------+-----------------+---------------------+---------------------+
0: jdbc:luciddb:> select * from sys_root.dba_sql_statements where false;
+----------+-------------+-----------+---------------------+-------------------+
| STMT_ID  | SESSION_ID  | SQL_TEXT  | CREATION_TIMESTAMP  | PARAMETER_VALUES  |
+----------+-------------+-----------+---------------------+-------------------+
+----------+-------------+-----------+---------------------+-------------------+
0: jdbc:luciddb:> select * from sys_root.dba_repository_properties where false;
+----------------+-----------------+
| PROPERTY_NAME  | PROPERTY_VALUE  |
+----------------+-----------------+
+----------------+-----------------+
0: jdbc:luciddb:> select * from sys_root.dba_repository_integrity_violations where false;
+--------------+---------+
| DESCRIPTION  | MOF_ID  |
+--------------+---------+
+--------------+---------+
0: jdbc:luciddb:> select * from sys_root.dba_objects_in_use where false;
+-------------+----------+---------+
| SESSION_ID  | STMT_ID  | MOF_ID  |
+-------------+----------+---------+
+-------------+----------+---------+
0: jdbc:luciddb:> select * from sys_root.dba_threads where false;
+------------+--------------------+--------------+------------------+---------------+-----------+------------+-----------------+
| THREAD_ID  | THREAD_GROUP_NAME  | THREAD_NAME  | THREAD_PRIORITY  | THREAD_STATE  | IS_ALIVE  | IS_DAEMON  | IS_INTERRUPTED  |
+------------+--------------------+--------------+------------------+---------------+-----------+------------+-----------------+
+------------+--------------------+--------------+------------------+---------------+-----------+------------+-----------------+
0: jdbc:luciddb:> select * from sys_root.dba_thread_stack_entries where false;
+------------+--------------+---------------+-------------+--------------+------------+-----------+------------+
| THREAD_ID  | STACK_LEVEL  | ENTRY_STRING  | CLASS_NAME  | METHOD_NAME  | FILE_NAME  | LINE_NUM  | IS_NATIVE  |
+------------+--------------+---------------+-------------+--------------+------------+-----------+------------+
+------------+--------------+---------------+-------------+--------------+------------+-----------+------------+
0: jdbc:luciddb:> select * from sys_root.dba_performance_counters where false;
+--------------+---------------+----------------+----------------+
| SOURCE_NAME  | COUNTER_NAME  | COUNTER_UNITS  | COUNTER_VALUE  |
+--------------+---------------+----------------+----------------+
+--------------+---------------+----------------+----------------+
0: jdbc:luciddb:> select * from sys_root.dba_system_info where false;
+--------------+------------+-------------+-------------+
| SOURCE_NAME  | ITEM_NAME  | ITEM_UNITS  | ITEM_VALUE  |
+--------------+------------+-------------+-------------+
+--------------+------------+-------------+-------------+
0: jdbc:luciddb:> select * from sys_root.user_session_parameters where false;
+-------------+--------------+
| PARAM_NAME  | PARAM_VALUE  |
+-------------+--------------+
+-------------+--------------+
0: jdbc:luciddb:> select * from sys_root.dba_auth_ids where false;
+-------+----------+-------------+---------------------+-------------------------+---------+-------------+
| NAME  | REMARKS  | CLASS_NAME  | CREATION_TIMESTAMP  | MODIFICATION_TIMESTAMP  | MOF_ID  | LINEAGE_ID  |
+-------+----------+-------------+---------------------+-------------------------+---------+-------------+
+-------+----------+-------------+---------------------+-------------------------+---------+-------------+
0: jdbc:luciddb:> 
0: jdbc:luciddb:> -- NOTE: zfong 10/26/07 - Commented out the following test because it does not
0: jdbc:luciddb:> -- yield reliable results depending on whether or not Blackhawk creates a
0: jdbc:luciddb:> -- new LucidDB instance in the "!closeall" calls above.  Temp pages associated
0: jdbc:luciddb:> -- with segment allocation nodes are no longer freed at the end of a statement
0: jdbc:luciddb:> -- and are instead freed when LucidDB is shutdown.  Therefore, if a new
0: jdbc:luciddb:> -- LucidDB instance is not created, the count below returns 1 instead of 0.
0: jdbc:luciddb:> --
0: jdbc:luciddb:> -- check if number of temp allocated pages is 0
0: jdbc:luciddb:> -- alter system deallocate old;
0: jdbc:luciddb:> -- select counter_name, counter_value
0: jdbc:luciddb:> -- from sys_root.dba_performance_counters
0: jdbc:luciddb:> -- where counter_name = 'TempPagesAllocated';
0: jdbc:luciddb:> 
0: jdbc:luciddb:> -- LER-9476 -- make sure replacing the data server doesn't reset row counts
0: jdbc:luciddb:> create schema s;
0: jdbc:luciddb:> set schema 's';
0: jdbc:luciddb:> create table rc(a int);
0: jdbc:luciddb:> insert into rc values(1),(2),(3);
0: jdbc:luciddb:> delete from rc where a = 2;
0: jdbc:luciddb:> select table_name, current_row_count, deleted_row_count
. . . . . . . . >     from sys_root.dba_stored_tables where table_name = 'RC';
+-------------+--------------------+--------------------+
| TABLE_NAME  | CURRENT_ROW_COUNT  | DELETED_ROW_COUNT  |
+-------------+--------------------+--------------------+
| RC          | 2                  | 1                  |
+-------------+--------------------+--------------------+
0: jdbc:luciddb:> set schema 'sys_boot.sys_boot';
0: jdbc:luciddb:> set path 'sys_boot.sys_boot';
0: jdbc:luciddb:> create or replace server sys_column_store_data_server
. . . . . . . . > local data wrapper sys_column_store;
0: jdbc:luciddb:> -- these row counts should remain non-zero
0: jdbc:luciddb:> select table_name, current_row_count, deleted_row_count
. . . . . . . . >     from localdb.sys_root.dba_stored_tables where table_name = 'RC';
+-------------+--------------------+--------------------+
| TABLE_NAME  | CURRENT_ROW_COUNT  | DELETED_ROW_COUNT  |
+-------------+--------------------+--------------------+
| RC          | 2                  | 1                  |
+-------------+--------------------+--------------------+
0: jdbc:luciddb:> 
0: jdbc:luciddb:> !quit
