--
-- index.sql - create company tables with indices
--

create schema s;
set schema 's';

create table LOCATION(
LOCID char(2) primary key,
STREET varchar(50),
CITY varchar(20),
STATE char(2),
ZIP integer)
server @DATA_STORE@;

-- DEPT: Departments in the company
create table DEPT(
DEPTNO integer primary key,
DNAME varchar(20) unique,
LOCID CHAR(2))
server @DATA_STORE@;

-- EMP: employees in the company
create table EMP(
EMPNO integer primary key,
FNAME varchar(20) not null,
LNAME varchar(20) not null,
SEX char(1),
DEPTNO integer,
MANAGER integer,
LOCID CHAR(2),
SAL integer,
COMMISSION integer,
HOBBY varchar(20))
server @DATA_STORE@;

create table CUSTOMERS(
CUSTID integer primary key,
FNAME varchar(30),
LNAME varchar(30) not null,
SEX char(1))
server @DATA_STORE@;

create table PRODUCTS(
PRODID integer primary key,
NAME varchar(30) unique,
PRICE float)
server @DATA_STORE@;

-- TS timestamp,
create table SALES(
CUSTID integer,
EMPNO integer,
PRODID integer,
PRICE float,
primary key(CUSTID, EMPNO, PRODID, PRICE))
server @DATA_STORE@;


-- Additional indices not implicitly created by above constraints

create index EMP_DEPTNO on EMP(DEPTNO);
create index EMP_MANAGER on EMP(MANAGER);
create index EMP_LOCID on EMP(LOCID);
create index EMP_SEX on EMP(SEX);
create index EMP_COMMISSION on EMP(COMMISSION);

create index PRODUCTS_PRICE on PRODUCTS(PRICE);

create index SALES_PRICE on SALES(PRICE);
create index SALES_EMPNO on SALES(EMPNO);
create index SALES_PRODID on SALES(PRODID);
create index SALES_CUSTID on SALES(CUSTID);

create index CUSTOMERS_NAME on CUSTOMERS(LNAME, FNAME);


-- /creschema.sql

create foreign data wrapper @DATA_WRAPPER_NAME@
library '@DATA_LIBRARY@'
language java;

create server @SERVER_NAME@
foreign data wrapper @DATA_WRAPPER_NAME@
options(
    driver_class '@DRIVER_CLASS@',
    url '@URL@',
    schema_name '@SCHEMA_NAME@',
    directory '@DIRECTORY@',
    file_extension '@FILE_EXTENSION@',
    ctrl_file_extension '@CTRL_FILE_EXT@',
    field_delimiter '@FIELD_DELIM@',
    line_delimiter '@LINE_DELIM@',
    quote_char '@QUOTE_CHAR@',
    escape_char '@ESCAPE_CHAR@',
    with_header '@WITH_HEADER@',
    num_rows_scan '@NUM_ROWS_SCAN@'

);

create schema csv_schema;
