0: jdbc:luciddb:> create foreign table csv_schema.SHORTREG_CUSTOMERS_SRC (
. . . . . . . . > CUSTID INTEGER,
. . . . . . . . > FNAME VARCHAR(30),
. . . . . . . . > LNAME VARCHAR(30),
. . . . . . . . > SEX VARCHAR(1)
. . . . . . . . > )
. . . . . . . . > server @SERVER_NAME@
. . . . . . . . > options (@TABLE_OPTIONS@ '@shortreg.dir@/customers@file_ext@');
0: jdbc:luciddb:> 
0: jdbc:luciddb:> INSERT INTO s.CUSTOMERS
. . . . . . . . > SELECT CUSTID,FNAME,LNAME,SEX FROM csv_schema.SHORTREG_CUSTOMERS_SRC;
0: jdbc:luciddb:> 
0: jdbc:luciddb:> !quit
