CREATE foreign table csv_schema.SHORTREG_DEPT_SRC (
DEPTNO INTEGER,
DNAME VARCHAR(20),
LOCID VARCHAR(2)
)
server @SERVER_NAME@
options (@TABLE_OPTIONS@ '@shortreg.dir@/dept@file_ext@');

INSERT INTO s.DEPT
SELECT DEPTNO,DNAME,LOCID
FROM csv_schema.SHORTREG_DEPT_SRC;
