CREATE foreign table csv_schema.SHORTREG_LOCATION_SRC (
LOCID VARCHAR(2),
STREET VARCHAR(50),
CITY VARCHAR(20),
STATE VARCHAR(2),
ZIP INTEGER
)
server @SERVER_NAME@
options (@TABLE_OPTIONS@ '@shortreg.dir@/location@file_ext@');

INSERT INTO s.LOCATION
SELECT LOCID,STREET,CITY,STATE,ZIP
FROM csv_schema.SHORTREG_LOCATION_SRC;
