CREATE foreign table csv_schema.SHORTREG_SALES_SRC (
CUSTID INTEGER,
EMPNO INTEGER,
PRODID INTEGER,
PRICE DOUBLE
)
server @SERVER_NAME@
options (@TABLE_OPTIONS@ '@shortreg.dir@/sales@file_ext@');

INSERT INTO s.SALES
SELECT CUSTID,EMPNO,PRODID,PRICE
FROM csv_schema.SHORTREG_SALES_SRC;
