CREATE foreign table @name_prefix@_schema.SHORTREG_SALES_SRC (
CUSTID INTEGER,
EMPNO INTEGER,
PRODID INTEGER,
PRICE DOUBLE
)
server @SERVER_NAME@
options (
SCHEMA_NAME '@SCHEMA@',
@TABLE_NAME@ '@ff_dir@SALES@file_ext@'
);

INSERT INTO s.SALES
SELECT CUSTID,EMPNO,PRODID,PRICE
FROM @name_prefix@_schema.SHORTREG_SALES_SRC;
