0: jdbc:luciddb:> CREATE foreign table csv_schema.SHORTREG_SALES_SRC (
. . . . . . . . > CUSTID INTEGER,
. . . . . . . . > EMPNO INTEGER,
. . . . . . . . > PRODID INTEGER,
. . . . . . . . > PRICE DOUBLE
. . . . . . . . > )
. . . . . . . . > server @SERVER_NAME@
. . . . . . . . > options (@TABLE_OPTIONS@ '@shortreg.dir@/sales@file_ext@');
0: jdbc:luciddb:> 
0: jdbc:luciddb:> INSERT INTO s.SALES
. . . . . . . . > SELECT CUSTID,EMPNO,PRODID,PRICE
. . . . . . . . > FROM csv_schema.SHORTREG_SALES_SRC;
0: jdbc:luciddb:> 
0: jdbc:luciddb:> !quit
