-- setup
-- end of setup

-- thread reader
> set schema 'rwconcur';
0 rows affected.
-- end of thread reader

-- thread badRestore
> call sys_root.restore_database('@TEST_DIR@/fullArchive');
net.sf.farrago.jdbc.FarragoJdbcUtil$FarragoSqlException: Exclusive database access required
-- end of thread badRestore

