0: jdbc:luciddb:> -- SSB Schema creation
0: jdbc:luciddb:> --SET ECHO=ON
0: jdbc:luciddb:> 
0: jdbc:luciddb:> -- As ADMIN, create a SSB schema and user
0: jdbc:luciddb:> --connect ADMIN ADMIN
0: jdbc:luciddb:> 
0: jdbc:luciddb:> 
0: jdbc:luciddb:> -- Create a role to be granted to user
0: jdbc:luciddb:> CREATE SCHEMA SSB;
0: jdbc:luciddb:> CREATE ROLE SSBROLE;
0: jdbc:luciddb:> 
0: jdbc:luciddb:> -- Create a tablespace for SSB tables and indexes
0: jdbc:luciddb:> --create tablespace SSBTBS datafile 'ssb01.dat' size 250m;
0: jdbc:luciddb:> 
0: jdbc:luciddb:> -- set explain plan level
0: jdbc:luciddb:> --alter system set explainplandetail=3;
0: jdbc:luciddb:> 
0: jdbc:luciddb:> -- other
0: jdbc:luciddb:> --GRANT ALL on *.* to SSBROLE;
0: jdbc:luciddb:> 
0: jdbc:luciddb:> -- create a user
0: jdbc:luciddb:> --CREATE USER SSB IDENTIFIED by SSB; 
0: jdbc:luciddb:> --GRANT SSBROLE to SSB;
0: jdbc:luciddb:> --ALTER USER SSB default SCHEMA SSB;
0: jdbc:luciddb:> --ALTER USER SSB default TABLESPACE SSBTBS;
0: jdbc:luciddb:> 
0: jdbc:luciddb:> -- Connect as the new user
0: jdbc:luciddb:> --connect SSB SSB
0: jdbc:luciddb:> 
0: jdbc:luciddb:> --create link SSB_LNK using FILE_DRIVER
0: jdbc:luciddb:> --defined by '"R:/testdata/ssb/data"',
0: jdbc:luciddb:> --'Link for SSB table load'
0: jdbc:luciddb:> --/
0: jdbc:luciddb:> 
0: jdbc:luciddb:> create server ff_ssb_server
. . . . . . . . > foreign data wrapper sys_file_wrapper
. . . . . . . . > options(
. . . . . . . . >     directory '@FFDIR@',
. . . . . . . . >     file_extension '.tbl',
. . . . . . . . >     ctrl_file_extension '.bcp',
. . . . . . . . >     field_delimiter '|',
. . . . . . . . >     line_delimiter '\n',
. . . . . . . . >     quote_char '"',
. . . . . . . . >     escape_char '',
. . . . . . . . >     with_header 'no',
. . . . . . . . >     num_rows_scan '1',
. . . . . . . . >     log_directory '@DIR@'
. . . . . . . . > );
0: jdbc:luciddb:> 
0: jdbc:luciddb:> import foreign schema "BCP" from server ff_ssb_server into ssb;
0: jdbc:luciddb:> 
0: jdbc:luciddb:> set schema 'ssb';
0: jdbc:luciddb:> 
0: jdbc:luciddb:> !quit
