0: jdbc:luciddb:> -- use default ORACLE wrapper
0: jdbc:luciddb:> create server ORCL_SERVER_LENIENT
. . . . . . . . > foreign data wrapper ORACLE
. . . . . . . . > options(
. . . . . . . . >     url '@URL@',
. . . . . . . . >     user_name '@USERNAME@',
. . . . . . . . >     password '@PASSWORD@',
. . . . . . . . >     driver_class '@DRIVER_CLASS@',
. . . . . . . . >     schema_name '@SCHEMA@',
. . . . . . . . >     use_schema_name_as_foreign_qualifier 'true'
. . . . . . . . > );
0: jdbc:luciddb:> 
0: jdbc:luciddb:> create schema test;
0: jdbc:luciddb:> set schema 'test';
0: jdbc:luciddb:> 
0: jdbc:luciddb:> create foreign table CASTING
. . . . . . . . > server ORCL_SERVER_LENIENT
. . . . . . . . > options
. . . . . . . . > (object '@DATATYPE_TABLE@');
0: jdbc:luciddb:> 
0: jdbc:luciddb:> select * from test.casting order by 1,2,3,4,5,6;
+------------------------+------------------------+------------------+-------------------+-------------+----------+----------+
|        DATECOL         |      TIMESTAMPCOL      | NUMERICCOLZEROP  | NUMERICCOL2WITHP  | VARCHARCOL  | CLOBCOL  | BLOBCOL  |
+------------------------+------------------------+------------------+-------------------+-------------+----------+----------+
|                        |                        | 99999.0          |                   | varchar     |          |          |
|                        |                        | 99999.0          |                   | varchar     | 123      |          |
|                        |                        | 99999.0          |                   | varchar     | 456      |          |
| 2006-10-31 00:00:00.0  | 2006-10-31 12:00:21.0  | 100.011          | 100.000           | varchar     |          |          |
| 2006-10-31 23:59:59.0  |                        | 0.0              | 0.000             |             |          |          |
+------------------------+------------------------+------------------+-------------------+-------------+----------+----------+
0: jdbc:luciddb:> 
0: jdbc:luciddb:> create or replace foreign table CASTING (
. . . . . . . . >   mydate date,
. . . . . . . . >   timestampcol timestamp,
. . . . . . . . >   datecol date,
. . . . . . . . >   clobcol varbinary,
. . . . . . . . >   yyy varbinary
. . . . . . . . > ) server ORCL_SERVER_LENIENT
. . . . . . . . > options
. . . . . . . . > (object '@DATATYPE_TABLE@');
0: jdbc:luciddb:> 
0: jdbc:luciddb:> select * from test.casting order by 1,2,3,4,5;
+---------+------------------------+-------------+----------+------+
| MYDATE  |      TIMESTAMPCOL      |   DATECOL   | CLOBCOL  | YYY  |
+---------+------------------------+-------------+----------+------+
|         |                        |             |          |      |
|         |                        |             |          |      |
|         |                        |             |          |      |
|         |                        | 2006-10-31  |          |      |
|         | 2006-10-31 12:00:21.0  | 2006-10-31  |          |      |
+---------+------------------------+-------------+----------+------+
0: jdbc:luciddb:> 
0: jdbc:luciddb:> drop schema test cascade;
0: jdbc:luciddb:> 
0: jdbc:luciddb:> !quit
