0: jdbc:luciddb:> -- use default ORACLE wrapper
0: jdbc:luciddb:> create server ORCL_SERVER_LENIENT
. . . . . . . . > foreign data wrapper ORACLE
. . . . . . . . > options(
. . . . . . . . >     url '@URL@',
. . . . . . . . >     user_name '@USERNAME@',
. . . . . . . . >     password '@PASSWORD@',
. . . . . . . . >     driver_class '@DRIVER_CLASS@',
. . . . . . . . >     schema_name '@SCHEMA@',
. . . . . . . . >     use_schema_name_as_foreign_qualifier 'true'
. . . . . . . . > );
0: jdbc:luciddb:> 
0: jdbc:luciddb:> create schema test;
0: jdbc:luciddb:> set schema 'test';
0: jdbc:luciddb:> 
0: jdbc:luciddb:> create foreign table CASTING
. . . . . . . . > server ORCL_SERVER_LENIENT
. . . . . . . . > options
. . . . . . . . > (object '@DATATYPE_TABLE@');
0: jdbc:luciddb:> 
0: jdbc:luciddb:> select * from test.casting order by 1,2,3,4,5,6;
+------------------------+------------------------+------------------+-------------------+-------------+----------+----------+
|        DATECOL         |      TIMESTAMPCOL      | NUMERICCOLZEROP  | NUMERICCOL2WITHP  | VARCHARCOL  | CLOBCOL  | BLOBCOL  |
+------------------------+------------------------+------------------+-------------------+-------------+----------+----------+
|                        |                        | 99999.0          |                   | varchar     |          |          |
|                        |                        | 99999.0          |                   | varchar     | 123      |          |
|                        |                        | 99999.0          |                   | varchar     | 456      |          |
| 2006-10-31 00:00:00.0  | 2006-10-31 12:00:21.0  | 100.011          | 100.000           | varchar     |          |          |
| 2006-10-31 23:59:59.0  |                        | 0.0              | 0.000             |             |          |          |
+------------------------+------------------------+------------------+-------------------+-------------+----------+----------+
0: jdbc:luciddb:> 
0: jdbc:luciddb:> create or replace foreign table CASTING (
. . . . . . . . >   "mydate" date,
. . . . . . . . >   "timestampcol" timestamp,
. . . . . . . . >   timestampcol timestamp,
. . . . . . . . >   "datecol" date,
. . . . . . . . >   datecol date,
. . . . . . . . >   "clobcol" varbinary,
. . . . . . . . >   clobcol varbinary,
. . . . . . . . >   "yyy" varbinary
. . . . . . . . > ) server ORCL_SERVER_LENIENT
. . . . . . . . > options
. . . . . . . . > (object '@DATATYPE_TABLE@');
0: jdbc:luciddb:> 
0: jdbc:luciddb:> select * from test.casting order by 1,2,3,4,5;
+---------+---------------+------------------------+----------+-------------+----------+----------+------+
| mydate  | timestampcol  |      TIMESTAMPCOL      | datecol  |   DATECOL   | clobcol  | CLOBCOL  | yyy  |
+---------+---------------+------------------------+----------+-------------+----------+----------+------+
|         |               |                        |          |             |          |          |      |
|         |               |                        |          |             |          |          |      |
|         |               |                        |          |             |          |          |      |
|         |               |                        |          | 2006-10-31  |          |          |      |
|         |               | 2006-10-31 12:00:21.0  |          | 2006-10-31  |          |          |      |
+---------+---------------+------------------------+----------+-------------+----------+----------+------+
0: jdbc:luciddb:> 
0: jdbc:luciddb:> -- test 'lenient' = 'false'
0: jdbc:luciddb:> 
0: jdbc:luciddb:> create server ORCL_SERVER_STRICT
. . . . . . . . > foreign data wrapper ORACLE
. . . . . . . . > options(
. . . . . . . . >     url '@URL@',
. . . . . . . . >     user_name '@USERNAME@',
. . . . . . . . >     password '@PASSWORD@',
. . . . . . . . >     driver_class '@DRIVER_CLASS@',
. . . . . . . . >     schema_name '@SCHEMA@',
. . . . . . . . >     use_schema_name_as_foreign_qualifier 'true',
. . . . . . . . >     lenient 'false'
. . . . . . . . > );
0: jdbc:luciddb:> 
0: jdbc:luciddb:> create or replace foreign table CASTING (
. . . . . . . . >   "mydate" date,
. . . . . . . . >   "timestampcol" timestamp,
. . . . . . . . >   timestampcol timestamp,
. . . . . . . . >   "datecol" date,
. . . . . . . . >   datecol date,
. . . . . . . . >   "clobcol" varbinary,
. . . . . . . . >   clobcol varbinary,
. . . . . . . . >   "yyy" varbinary
. . . . . . . . > ) server ORCL_SERVER_STRICT
. . . . . . . . > options
. . . . . . . . > (object '@DATATYPE_TABLE@');
Error: Number of fields in foreign table: '8'. Number of fields in external data source: 7'. (state=,code=0)
0: jdbc:luciddb:> 
0: jdbc:luciddb:> create or replace foreign table CASTING (
. . . . . . . . >   "mydate" date,
. . . . . . . . >   "timestampcol" timestamp,
. . . . . . . . >   "numeric" numeric(10,1),
. . . . . . . . >   "numeric2" numeric(10,0),
. . . . . . . . >   "varchar" varchar(10),
. . . . . . . . >   "clob" varchar(10),
. . . . . . . . >   "blob" varbinary
. . . . . . . . > ) server ORCL_SERVER_STRICT
. . . . . . . . > options
. . . . . . . . > (object '@DATATYPE_TABLE@');
Error: External data source field 'BLOBCOL' has datatype 'VARCHAR(1024)' which cannot be cast to datatype 'VARBINARY' of foreign table field 'blob'. (state=,code=0)
0: jdbc:luciddb:> 
0: jdbc:luciddb:> -- test changed datatypes for column
0: jdbc:luciddb:> 
0: jdbc:luciddb:> create or replace foreign table TYPECHANGE (
. . . . . . . . >   "mydate" date,
. . . . . . . . >   "timestampcol" timestamp,
. . . . . . . . >   "numeric" numeric(10,1),
. . . . . . . . >   "numeric2" numeric(10,0),
. . . . . . . . >   varcharcol double,
. . . . . . . . >   "clob" varchar(10),
. . . . . . . . >   "blob" varchar(1024)
. . . . . . . . > ) server ORCL_SERVER_STRICT
. . . . . . . . > options
. . . . . . . . > (object '@DATATYPE_TABLE@');
0: jdbc:luciddb:> 
0: jdbc:luciddb:> select * from test.typechange;
Error: Cannot assign 'varchar' to a NUMERIC value: NumberFormatException (state=,code=0)
0: jdbc:luciddb:> 
0: jdbc:luciddb:> --  lenient & allow errors
0: jdbc:luciddb:> alter session set "logDir" = 'testlog';
0: jdbc:luciddb:> alter session set "errorMax" = 5;
0: jdbc:luciddb:> 
0: jdbc:luciddb:> create or replace foreign table TYPECHANGE (
. . . . . . . . >   "mydate" date,
. . . . . . . . >   "timestampcol" timestamp,
. . . . . . . . >   "numeric" numeric(10,1),
. . . . . . . . >   "numeric2" numeric(10,0),
. . . . . . . . >   varcharcol double,
. . . . . . . . >   "clob" varchar(10),
. . . . . . . . >   "blob" varchar(1024)
. . . . . . . . > ) server ORCL_SERVER_LENIENT
. . . . . . . . > options
. . . . . . . . > (object '@DATATYPE_TABLE@');
0: jdbc:luciddb:> 
0: jdbc:luciddb:> select * from test.typechange;
+---------+---------------+----------+-----------+-------------+-------+-------+
| mydate  | timestampcol  | numeric  | numeric2  | VARCHARCOL  | clob  | blob  |
+---------+---------------+----------+-----------+-------------+-------+-------+
|         |               |          |           |             |       |       |
+---------+---------------+----------+-----------+-------------+-------+-------+
0: jdbc:luciddb:> 
0: jdbc:luciddb:> drop schema test cascade;
0: jdbc:luciddb:> 
0: jdbc:luciddb:> !quit
