create foreign data wrapper @DATA_WRAPPER_NAME@
library '@DATA_LIBRARY@'
language java;

create server @SERVER_NAME@
foreign data wrapper @DATA_WRAPPER_NAME@
options(
    driver_class '@DRIVER_CLASS@',
    url '@URL@',
    user_name '@USERNAME@',
    password '@PASSWORD@',
    qualifying_catalog_name '@CATALOG_NAME@',
    table_types '@TABLE_TYPES@'
);

create schema mssql_schema;
