0: jdbc:luciddb:> import foreign schema "dbo" from server sql_server into mssql_schema;
0: jdbc:luciddb:> 
0: jdbc:luciddb:> select count(*) from mssql_schema."bench100K";
+---------+
| EXPR$0  |
+---------+
| 100000  |
+---------+
0: jdbc:luciddb:> select count(*) from mssql_schema."bench1M";
+----------+
|  EXPR$0  |
+----------+
| 1000000  |
+----------+
0: jdbc:luciddb:> 
0: jdbc:luciddb:> 
0: jdbc:luciddb:> !quit
