create server ff_server
foreign data wrapper sys_file_wrapper
options(
    directory '@DIR@',
    file_extension '.csv',
    ctrl_file_extension '.bcp',
    field_delimiter ',',
    line_delimiter '\n',
    quote_char '"',
    escape_char '',
    with_header 'yes',
    num_rows_scan '2'
);

create schema ff_schema;
create schema s;