# Username/Password to sfdc
username=yourname@yourcompany.com
# Your password/token
password=yourpasswdjcD8RmGCoXDk6gjmA8Zt3EgX

# Username/Password to sfdc (test account)
username_test=testaccount@yourcompany.com
# Your password/token
password_test=yourpasswdjcD8RmGCoXDk6gjmA8Zt3EgY

# URL of your downloaded PARTNER WSDL
wsdl=./partner.wsdl

# URL of your downloaded ENTERPRISE WSDL
enterprise.wsdl=./enterprise.wsdl
