# Username/Password to sfdc
username=yourname@yourcompany.com
# Your password/token
password=easyeasy123jcD8RmGCoXDk6gjmA8Zt3EgX

# URL of your downloaded PARTNER WSDL
wsdl=http://yoursvnserver.com/svnrep/partner_v17.wsdl
