-- create tablespace TBB_BENCH_TS datafile 'bench_ts.dat' size 32000K
-- ;

create foreign data wrapper @DATA_WRAPPER_NAME@
library '@DATA_LIBRARY@'
language java;

create server @SERVER_NAME@
foreign data wrapper @DATA_WRAPPER_NAME@
options(
    url '@URL@',
    user_name '@USERNAME@',
    password '@PASSWORD@',
    schema_name '@SCHEMA_NAME@',
    qualifying_catalog_name '@CATALOG_NAME@',
    table_types '@TABLE_TYPES@',
    driver_class '@DRIVER_CLASS@'

    directory '@DIRECTORY@',
    file_extension '@FILE_EXTENSION@',
    ctrl_file_extension '@CTRL_FILE_EXT@',
    field_delimiter '@FIELD_DELIM@',
    line_delimiter '@LINE_DELIM@',
    quote_char '@QUOTE_CHAR@',
    escape_char '@ESCAPE_CHAR@',
    with_header '@WITH_HEADER@',
    num_rows_scan '@NUM_ROWS_SCAN@'
);

create schema s;
set schema 's';

CREATE TABLE BENCH100 (
  KSEQ  INTEGER
 ,K2    INTEGER
 ,K4    INTEGER
 ,K5    INTEGER
 ,K10   INTEGER
 ,K25   INTEGER
 ,K100  INTEGER
 ,K1K   INTEGER
 ,K10K  INTEGER
 ,K40K  INTEGER
 ,K100K INTEGER
 ,K250K INTEGER
 ,K500K INTEGER )
-- TABLESPACE TBB_BENCH_TS
;
create index B100_K2_K4_IDX on bench100 (k2,k4)
;
create index B100_K10_K100K_IDX on bench100 (k10,k100k)
;
create index B100_K250K_K5_IDX on bench100 (k250k,k5)
;
create index B100_K40K_K10K_IDX on bench100 (k40k,k10k)
;
create index B100_K2_K4_K5_IDX on bench100 (k2,k4,k5)
;
create index B100_K2_K4_KSEQ_IDX on bench100 (k2,k4,kseq)
;
create index B100_K2_K10K_K5_IDX on bench100 (k2,k10k,k5)
;
create index B100_K2_K250K_K100K_IDX on bench100 (k2,k250k,k100k)
;
create index B100_K4_K250K_K100K_IDX on bench100 (k4,k250k,k100k)
;
create index B100_K500K_K4_K5_IDX on bench100 (k500k,k4,k5)
;
create index B100_K500K_K4_K40K_IDX on bench100 (k500k,k4,k40k)
;
create index B100_K500K_K40K_K5_IDX on bench100 (k500k,k40k,k5)
;
create index B100_K500K_K40K_K100K_IDX on bench100 (k500k,k40k,k100k)
;
create foreign table BENCH_SOURCE_100 (
C1 INTEGER,
C2 INTEGER,
C4 INTEGER,
C5 INTEGER,
C10 INTEGER,
C25 INTEGER,
C100 INTEGER,
C1K INTEGER,
C10K INTEGER,
C40K  INTEGER,
C100K INTEGER,
C250K INTEGER,
C500K INTEGER)
-- USING LINK ODBC_SQLSERVER defined by
-- 'SELECT KSEQ,K2,K4,K5,K10,K25,K100,K1K,K10K,K40K,K100K,K250K,K500K FROM BENCHMARK.dbo.BENCH100'
server @SERVER_NAME@
options (
SCHEMA_NAME '@SCHEMA@',
@TABLE_NAME@ 'bench100'
)
;
INSERT INTO BENCH100 (KSEQ,K2,K4,K5,K10,K25,K100,K1K,K10K,K40K,K100K,K250K,
K500K) SELECT C1,C2,C4,C5,C10,C25,C100,C1K,C10K,C40K,C100K,C250K,C500K
FROM BENCH_SOURCE_100
;
