create server SQL_SERVER
foreign data wrapper "SQL SERVER"
options(
    url '@URL@',
    user_name '@USERNAME@',
    password '@PASSWORD@',
    driver_class '@DRIVER_CLASS@',
    qualifying_catalog_name '@CATALOG_NAME@',
    table_types '@TABLE_TYPES@'
);

select * from SQL_SERVER.dbo."tinyinttest" order by 1;

drop server SQL_SERVER cascade;
