create schema sfdc;
set schema 'sfdc';
set path 'sfdc';

-------------------------
-- SFDC foreign server --
-------------------------

create server mysfdc_server
foreign data wrapper SALESFORCE
options (
  USER_NAME '@username@',
  PASSWORD '@password@'
);

-- test: browse connect functionality
select * from sys_boot.mgmt.browse_connect_foreign_wrappers
where foreign_wrapper_name = 'SALESFORCE' order by 2;

-- query for available connection options
select * from table(
  sys_boot.mgmt.browse_connect_foreign_server(
    'SALESFORCE',
    cursor(
        select '' as option_name, '' as option_value
        from sys_boot.jdbc_metadata.empty_view)))
order by option_ordinal, option_choice_ordinal;

-- query for available connection options, with specified set values
select * from table(
  sys_boot.mgmt.browse_connect_foreign_server(
    'SALESFORCE',
    cursor(
        values ('USER_NAME', 'username'),
               ('PASSWORD', 'passwd'))))
order by option_ordinal, option_choice_ordinal;

-- query for available schemas
select * from table(sys_boot.mgmt.browse_foreign_schemas(
    'MYSFDC_SERVER'))
order by schema_name;

-------------
-- Queries --
-------------

-- negative tests
select * from mysfdc_server."Account";
select * from mysfdc_server."sfdc"."Account";
IMPORT FOREIGN SCHEMA asdf from server MYSFDC_SERVER into sfdc;

CREATE FOREIGN TABLE asdf
server mysfdc_server
options (
  OBJECT 'blah'
);

-- positive tests
select "Name" from mysfdc_server.sfdc."Account" order by "Name";

select * from mysfdc_server.sfdc."Contact_LOV" order by "Field","Value";

IMPORT FOREIGN SCHEMA SFDC from server MYSFDC_SERVER into sfdc;

select "Name", "Type", "Phone", "Industry" from sfdc."Account" order by "Name";

!columns "Account_LOV"

select * from sfdc."Account_LOV" order by "Field","Value";

create schema local_sfdc;
set schema 'local_sfdc';

CREATE FOREIGN TABLE sfdc_implicit_table
server mysfdc_server
options (
  object 'Account'
);
select "Name", "BillingStreet", "AnnualRevenue", "NumberOfEmployees" from sfdc_implicit_table order by "Name", "BillingStreet", "AnnualRevenue", "NumberOfEmployees";

CREATE FOREIGN TABLE sfdc_explicit_table (
  "Id" varchar(17),
  "Name" varchar(25),
  "Type" varchar(25),
  "ParentId" varchar(25),
  "BillingStreet" varchar(100),
  "THIS_COLUMN_DOES_NOT_EXIST__c" varchar(1),
  "Sic" varchar(50),
  "NumberofLocations__c" float,
  "THIS_COLUMN_DOES_NOT_EXIST_2__c" boolean
)
server mysfdc_server
options (
  object 'Account'
);

select "THIS_COLUMN_DOES_NOT_EXIST_2__c","NumberofLocations__c","THIS_COLUMN_DOES_NOT_EXIST__c" from sfdc_explicit_table order by "NumberofLocations__c";

-- test "DEFAULT" schema name
select count(*) from mysfdc_server."DEFAULT"."Account";

-- this should fail
select count(*) from mysfdc_server.""."Account";

--------------------------------
-- VARCHAR_FIELD_EXTRA_PRECISION
--------------------------------
create server mysfdc_server2
foreign data wrapper SALESFORCE
options (
  USER_NAME '@username@',
  PASSWORD '@password@',
  VARCHAR_FIELD_EXTRA_PRECISION '10'
);

create schema x;

IMPORT FOREIGN SCHEMA SFDC from server MYSFDC_SERVER2 into x;

!columns "Account"

-----------------------
-- Aggregate Queries --
-----------------------

SELECT "OPPORTUNITYSTAGE"."ForecastCategory" AS "OPTY_FCSTCAT_ID",
    "OPPORTUNITYSTAGE"."ForecastCategory" AS "OPTY_FCSTCAT_CODE",
    "OPPORTUNITYSTAGE"."ForecastCategory" AS "OPTY_FCSTCAT_NAME",
    _ISO-8859-1'SFDC' AS "SOURCE_ID"
FROM "SFDC"."OpportunityStage" AS "OPPORTUNITYSTAGE"
GROUP BY "OPPORTUNITYSTAGE"."ForecastCategory",
    "OPPORTUNITYSTAGE"."ForecastCategory",
    "OPPORTUNITYSTAGE"."ForecastCategory",
    "OPPORTUNITYSTAGE"."ForecastCategory"
ORDER BY 1,2,3;

SELECT _ISO-8859-1'SFDC' AS "SOURCE_ID",
    "OPPORTUNITY"."LeadSource" AS "OPTY_LEAD_SRC_ID",
    "OPPORTUNITY"."LeadSource" AS "OPTY_LEAD_SRC_CODE",
    "OPPORTUNITY"."LeadSource" AS "OPTY_LEAD_SRC_NAME"
FROM "SFDC"."Opportunity" AS "OPPORTUNITY"
WHERE "OPPORTUNITY"."LeadSource" IS NOT NULL
GROUP BY "OPPORTUNITY"."LeadSource"
ORDER BY 1,2,3;


-- deleted columns; leniency test
CREATE or REPLACE FOREIGN TABLE sfdc_explicit_table (
  "Id" double,
  "Name" varchar(25),
  "Type" varchar(25),
  "ParentId" varchar(25),
  "BillingStreet" varchar(100),
  "THIS_COLUMN_DOES_NOT_EXIST__c" varchar(1),
  "Sic" varchar(50),
  "NumberofLocations__c" float,
  "THIS_COLUMN_DOES_NOT_EXIST_2__c" boolean
)
server mysfdc_server
options (
  object 'Account'
);

select "THIS_COLUMN_DOES_NOT_EXIST_2__c","NumberofLocations__c","THIS_COLUMN_DOES_NOT_EXIST__c" from sfdc_explicit_table order by "NumberofLocations__c";

-- only for LucidDB; see http://pub.eigenbase.org/wiki/LucidDbErrorHandling
-- alter session set "logDir" = 'testlog';
-- alter session set "errorMax" = '500';
-- select "Id","THIS_COLUMN_DOES_NOT_EXIST_2__c","NumberofLocations__c","THIS_COLUMN_DOES_NOT_EXIST__c" from sfdc_explicit_table order by "Id";


-------------
-- CLEANUP --
-------------
drop server mysfdc_server cascade;
drop schema sfdc cascade;
drop schema local_sfdc cascade;
drop schema x cascade;
