> !v
> 
> create schema sfdc;
> set schema 'sfdc';
> set path 'sfdc';
> 
> -------------------------
> -- SFDC foreign server --
> -------------------------
> 
> create server mysfdc_server
> foreign data wrapper SALESFORCE
> options (
>   USER_NAME '@username@',
>   PASSWORD '@password@'
> );
> 
> -------------
> -- Queries --
> -------------
> 
> -- SFDC does not distinguish between lower and upper case for strings
> select "Name" from mysfdc_server.sfdc."Account" where "Name" > 'c' order by "Name";
+----------------------------------+
|               Name               |
+----------------------------------+
| Dickenson plc                    |
| Edge Communications              |
| Express Logistics and Transport  |
| GenePoint                        |
| Grand Hotels & Resorts Ltd       |
| Pyramid Construction Inc.        |
| United Oil & Gas Corp.           |
| United Oil & Gas, Singapore      |
| United Oil & Gas, UK             |
| University of Arizona            |
| sForce                           |
+----------------------------------+
> 
> select "Name" from mysfdc_server.sfdc."Account" where "Name" like 'S%' order by "Name";
+---------+
|  Name   |
+---------+
| sForce  |
+---------+
> 
> select "Name" from mysfdc_server.sfdc."Account" where "Name" > 'U' OR ("Name" > 'x' AND "BillingStreet" < '0') order by "Name";
+------------------------------+
|             Name             |
+------------------------------+
| United Oil & Gas Corp.       |
| United Oil & Gas, Singapore  |
| United Oil & Gas, UK         |
| University of Arizona        |
+------------------------------+
> 
> IMPORT FOREIGN SCHEMA SFDC from server MYSFDC_SERVER into sfdc;
> 
> select "Name", "Type", "Phone", "Industry" from sfdc."Account" order by "Name";
+--------------------------------------+---------------------+------------------+-----------------+
|                 Name                 |        Type         |      Phone       |    Industry     |
+--------------------------------------+---------------------+------------------+-----------------+
| Burlington Textiles Corp of America  | Customer - Direct   | (336) 222-7000   | Apparel         |
| Dickenson plc                        | Customer - Channel  | (785) 241-6200   | Consulting      |
| Edge Communications                  | Customer - Direct   | (512) 757-6000   | Electronics     |
| Express Logistics and Transport      | Customer - Channel  | (503) 421-7800   | Transportation  |
| GenePoint                            | Customer - Channel  | (650) 867-3450   | Biotechnology   |
| Grand Hotels & Resorts Ltd           | Customer - Direct   | (312) 596-1000   | Hospitality     |
| Pyramid Construction Inc.            | Customer - Channel  | (014) 427-4427   | Construction    |
| United Oil & Gas Corp.               | Customer - Direct   | (212) 842-5500   | Energy          |
| United Oil & Gas, Singapore          | Customer - Direct   | (650) 450-8810   | Energy          |
| United Oil & Gas, UK                 | Customer - Direct   | +44 191 4956203  | Energy          |
| University of Arizona                | Customer - Direct   | (520) 773-9050   | Education       |
| sForce                               |                     | (415) 901-7000   |                 |
+--------------------------------------+---------------------+------------------+-----------------+
> 
> CREATE FOREIGN TABLE sfdc_implicit_table
> server mysfdc_server
> options (
>   object 'Account'
> );
> 
> select "Name", "AnnualRevenue", "NumberOfEmployees" from sfdc_implicit_table where "AnnualRevenue" >= 10000 and "NumberOfEmployees" >= 40 order by "Name";
+--------------------------------------+----------------+--------------------+
|                 Name                 | AnnualRevenue  | NumberOfEmployees  |
+--------------------------------------+----------------+--------------------+
| Burlington Textiles Corp of America  | 3.5E8          | 9000               |
| Dickenson plc                        | 5.0E7          | 120                |
| Edge Communications                  | 1.39E8         | 1000               |
| Express Logistics and Transport      | 9.5E8          | 12300              |
| GenePoint                            | 3.0E7          | 265                |
| Grand Hotels & Resorts Ltd           | 5.0E8          | 5600               |
| Pyramid Construction Inc.            | 9.5E8          | 2680               |
| United Oil & Gas Corp.               | 5.6E9          | 145000             |
+--------------------------------------+----------------+--------------------+
> 
> select "Name" from mysfdc_server.sfdc."Account" where "SystemModstamp" >= TIMESTAMP'2009-5-31 8:15:12' order by "Name";
+--------------------------------------+
|                 Name                 |
+--------------------------------------+
| Burlington Textiles Corp of America  |
| Dickenson plc                        |
| Edge Communications                  |
| Express Logistics and Transport      |
| GenePoint                            |
| Grand Hotels & Resorts Ltd           |
| Pyramid Construction Inc.            |
| United Oil & Gas Corp.               |
| United Oil & Gas, Singapore          |
| United Oil & Gas, UK                 |
| University of Arizona                |
| sForce                               |
+--------------------------------------+
> select "NumberOfEmployees" from mysfdc_server.sfdc."Account" where "NumberOfEmployees" > 5 order by 1;
+--------------------+
| NumberOfEmployees  |
+--------------------+
| 120                |
| 265                |
| 1000               |
| 2680               |
| 3000               |
| 5600               |
| 9000               |
| 12300              |
| 24000              |
| 39000              |
| 145000             |
+--------------------+
> 
> -- not pushed down due to the select
> select "NumberOfEmployees" + 1 as "X" from mysfdc_server.sfdc."Account" where "NumberOfEmployees" > 5 order by 1;
+---------+
|    X    |
+---------+
| 121     |
| 266     |
| 1001    |
| 2681    |
| 3001    |
| 5601    |
| 9001    |
| 12301   |
| 24001   |
| 39001   |
| 145001  |
+---------+
> 
> select "Name" as "BLAH" from mysfdc_server.sfdc."Account" order by 1;
+--------------------------------------+
|                 BLAH                 |
+--------------------------------------+
| Burlington Textiles Corp of America  |
| Dickenson plc                        |
| Edge Communications                  |
| Express Logistics and Transport      |
| GenePoint                            |
| Grand Hotels & Resorts Ltd           |
| Pyramid Construction Inc.            |
| United Oil & Gas Corp.               |
| United Oil & Gas, Singapore          |
| United Oil & Gas, UK                 |
| University of Arizona                |
| sForce                               |
+--------------------------------------+
> 
> select "Name" from mysfdc_server.sfdc."Account" where "NumberOfEmployees" is not null order by 1;
+--------------------------------------+
|                 Name                 |
+--------------------------------------+
| Burlington Textiles Corp of America  |
| Dickenson plc                        |
| Edge Communications                  |
| Express Logistics and Transport      |
| GenePoint                            |
| Grand Hotels & Resorts Ltd           |
| Pyramid Construction Inc.            |
| United Oil & Gas Corp.               |
| United Oil & Gas, Singapore          |
| United Oil & Gas, UK                 |
| University of Arizona                |
+--------------------------------------+
> 
> select "Name","NumberOfEmployees","ShippingState" from mysfdc_server.sfdc."Account" where "NumberOfEmployees" <> 40 AND ("ShippingState" > 'CA' OR "LastModifiedDate" between TIMESTAMP'2006-07-25 00:00:00' and TIMESTAMP'2007-12-12 00:00:00') order by "Name";
+----------------+--------------------+----------------+
|      Name      | NumberOfEmployees  | ShippingState  |
+----------------+--------------------+----------------+
| Dickenson plc  | 120                | KS             |
+----------------+--------------------+----------------+
> 
> -------------
> -- CLEANUP --
> -------------
> drop server mysfdc_server cascade;
> drop schema sfdc cascade;
> 
> !quit
