> -- see [[jira:LER-6750]]
> 
> !v
> 
> create schema sfdc;
> set schema 'sfdc';
> set path 'sfdc';
> 
> -------------------------
> -- SFDC foreign server --
> -------------------------
> 
> create or replace server mysfdc_server
> foreign data wrapper SALESFORCE
> options (
>   USER_NAME '@username@',
>   PASSWORD '@password@'
> );
> 
> ----------------------
> -- deletion queries --
> ----------------------
> 
> -- 1) VLS_SFDC_0711_OPPORTUNITY_PK:
> 
> EXPLAIN PLAN FOR
> SELECT
>     "OPPORTUNITY_PK"."Name" AS "OPPORTUNITY_NAME"
> FROM mysfdc_server."SFDC"."Opportunity" AS "OPPORTUNITY_PK"
> WHERE 
> "OPPORTUNITY_PK"."HasOpportunityLineItem" = 'false'
>     AND "OPPORTUNITY_PK"."LastModifiedDate" >= TIMESTAMP'2007-01-01 01:01:01'
> order by 1;
+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|                                                                                                                                                                                                                                                                       column0                                                                                                                                                                                                                                                                       |
+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| FennelToIteratorConverter                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           |
|   FennelSortRel(key=[[0]], discardDuplicates=[false])                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               |
|     FennelReshapeRel(projection=[[0]], outputRowType=[RecordType(VARCHAR(248) CHARACTER SET "ISO-8859-1" COLLATE "ISO-8859-1$en_US$primary" OPPORTUNITY_NAME) NOT NULL])                                                                                                                                                                                                                                                                                                                                                                            |
|       IteratorToFennelConverter                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     |
|         FarragoJavaUdxRel(invocation=[CAST(SFDC_QUERY(CAST('select Name, HasOpportunityLineItem, LastModifiedDate from Opportunity where (HasOpportunityLineItem = ''false'') AND (LastModifiedDate >= 2007-01-01T01:01:01Z)'):VARCHAR(10000) CHARACTER SET "ISO-8859-1" COLLATE "ISO-8859-1$en_US$primary", CAST('VARCHAR(248),VARCHAR(5),TIMESTAMP(0)'):VARCHAR(10000) CHARACTER SET "ISO-8859-1" COLLATE "ISO-8859-1$en_US$primary")):RecordType(VARCHAR(128) CHARACTER SET "ISO-8859-1" COLLATE "ISO-8859-1$en_US$primary" OBJECTS) NOT NULL])  |
+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
> 
> 
> SELECT
>     "OPPORTUNITY_PK"."Name" AS "OPPORTUNITY_NAME"
> FROM mysfdc_server."SFDC"."Opportunity" AS "OPPORTUNITY_PK"
> WHERE 
> "OPPORTUNITY_PK"."HasOpportunityLineItem" = 'false'
>     AND "OPPORTUNITY_PK"."LastModifiedDate" >= TIMESTAMP'2007-01-01 01:01:01'
> order by 1;
+----------------------------------------------+
|               OPPORTUNITY_NAME               |
+----------------------------------------------+
| Burlington Textiles Weaving Plant Generator  |
| Dickenson Mobile Generators                  |
| Edge Emergency Generator                     |
| Edge Emergency Generator                     |
| Edge Installation                            |
| Edge SLA                                     |
| Express Logistics Portable Truck Generators  |
| Express Logistics SLA                        |
| Express Logistics Standby Generator          |
| GenePoint Lab Generators                     |
| GenePoint SLA                                |
| GenePoint Standby Generator                  |
| Grand Hotels Emergency Generators            |
| Grand Hotels Generator Installations         |
| Grand Hotels Guest Portable Generators       |
| Grand Hotels Kitchen Generator               |
| Grand Hotels SLA                             |
| Pyramid Emergency Generators                 |
| United Oil Emergency Generators              |
| United Oil Installations                     |
| United Oil Installations                     |
| United Oil Installations                     |
| United Oil Office Portable Generators        |
| United Oil Plant Standby Generators          |
| United Oil Refinery Generators               |
| United Oil Refinery Generators               |
| United Oil SLA                               |
| United Oil Standby Generators                |
| University of AZ Installations               |
| University of AZ Portable Generators         |
| University of AZ SLA                         |
+----------------------------------------------+
> 
> 
> -- 2) VLS_SFDC_0711_OPTY_PROD_PK:
> 
> EXPLAIN PLAN FOR
> SELECT
>     "OPTY_PROD_PK"."Description" AS "OPPORTUNITY_DESCRIPTION",
>     "OPTY_PROD_PK"."Quantity" AS "OPTY_PROD_QTY"
> FROM  mysfdc_server."SFDC"."OpportunityLineItem" AS "OPTY_PROD_PK"
> WHERE "OPTY_PROD_PK"."LastModifiedDate" >= TIMESTAMP'2007-01-01 01:01:01';
+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|                                                                                                                                                                                                                                               column0                                                                                                                                                                                                                                               |
+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| FennelToIteratorConverter                                                                                                                                                                                                                                                                                                                                                                                                                                                                           |
|   FennelReshapeRel(projection=[[1, 0]], outputRowType=[RecordType(VARCHAR(383) CHARACTER SET "ISO-8859-1" COLLATE "ISO-8859-1$en_US$primary" OPPORTUNITY_DESCRIPTION, DOUBLE OPTY_PROD_QTY) NOT NULL])                                                                                                                                                                                                                                                                                              |
|     IteratorToFennelConverter                                                                                                                                                                                                                                                                                                                                                                                                                                                                       |
|       FarragoJavaUdxRel(invocation=[CAST(SFDC_QUERY(CAST('select Quantity, Description, LastModifiedDate from OpportunityLineItem where LastModifiedDate >= 2007-01-01T01:01:01Z'):VARCHAR(10000) CHARACTER SET "ISO-8859-1" COLLATE "ISO-8859-1$en_US$primary", CAST('DOUBLE,VARCHAR(383),TIMESTAMP(0)'):VARCHAR(10000) CHARACTER SET "ISO-8859-1" COLLATE "ISO-8859-1$en_US$primary")):RecordType(VARCHAR(128) CHARACTER SET "ISO-8859-1" COLLATE "ISO-8859-1$en_US$primary" OBJECTS) NOT NULL])  |
+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
> 
> 
> SELECT
>     "OPTY_PROD_PK"."Description" AS "OPPORTUNITY_DESCRIPTION", 
>     "OPTY_PROD_PK"."Quantity" AS "OPTY_PROD_QTY"
> FROM  mysfdc_server."SFDC"."OpportunityLineItem" AS "OPTY_PROD_PK"
> WHERE "OPTY_PROD_PK"."LastModifiedDate" >= TIMESTAMP'2007-01-01 01:01:01';
+--------------------------+----------------+
| OPPORTUNITY_DESCRIPTION  | OPTY_PROD_QTY  |
+--------------------------+----------------+
+--------------------------+----------------+
> 
> -- alias
> 
> EXPLAIN PLAN FOR
> SELECT
>    "Name" as "xxx"
> FROM mysfdc_server."SFDC"."Opportunity"
> WHERE 
> "HasOpportunityLineItem" = 'false'
> order by 1;
+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|                                                                                                                                                                                                                               column0                                                                                                                                                                                                                               |
+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| FennelToIteratorConverter                                                                                                                                                                                                                                                                                                                                                                                                                                           |
|   FennelSortRel(key=[[0]], discardDuplicates=[false])                                                                                                                                                                                                                                                                                                                                                                                                               |
|     FennelReshapeRel(projection=[[0]], outputRowType=[RecordType(VARCHAR(248) CHARACTER SET "ISO-8859-1" COLLATE "ISO-8859-1$en_US$primary" xxx) NOT NULL])                                                                                                                                                                                                                                                                                                         |
|       IteratorToFennelConverter                                                                                                                                                                                                                                                                                                                                                                                                                                     |
|         FarragoJavaUdxRel(invocation=[CAST(SFDC_QUERY(CAST('select Name, HasOpportunityLineItem from Opportunity where HasOpportunityLineItem = ''false'''):VARCHAR(10000) CHARACTER SET "ISO-8859-1" COLLATE "ISO-8859-1$en_US$primary", CAST('VARCHAR(248),VARCHAR(5)'):VARCHAR(10000) CHARACTER SET "ISO-8859-1" COLLATE "ISO-8859-1$en_US$primary")):RecordType(VARCHAR(128) CHARACTER SET "ISO-8859-1" COLLATE "ISO-8859-1$en_US$primary" OBJECTS) NOT NULL])  |
+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
> 
> 
> SELECT
>    "Name" as "xxx"
> FROM mysfdc_server."SFDC"."Opportunity"
> WHERE 
> "HasOpportunityLineItem" = 'false'
> order by 1;
+----------------------------------------------+
|                     xxx                      |
+----------------------------------------------+
| Burlington Textiles Weaving Plant Generator  |
| Dickenson Mobile Generators                  |
| Edge Emergency Generator                     |
| Edge Emergency Generator                     |
| Edge Installation                            |
| Edge SLA                                     |
| Express Logistics Portable Truck Generators  |
| Express Logistics SLA                        |
| Express Logistics Standby Generator          |
| GenePoint Lab Generators                     |
| GenePoint SLA                                |
| GenePoint Standby Generator                  |
| Grand Hotels Emergency Generators            |
| Grand Hotels Generator Installations         |
| Grand Hotels Guest Portable Generators       |
| Grand Hotels Kitchen Generator               |
| Grand Hotels SLA                             |
| Pyramid Emergency Generators                 |
| United Oil Emergency Generators              |
| United Oil Installations                     |
| United Oil Installations                     |
| United Oil Installations                     |
| United Oil Office Portable Generators        |
| United Oil Plant Standby Generators          |
| United Oil Refinery Generators               |
| United Oil Refinery Generators               |
| United Oil SLA                               |
| United Oil Standby Generators                |
| University of AZ Installations               |
| University of AZ Portable Generators         |
| University of AZ SLA                         |
+----------------------------------------------+
> 
> 
> -- casts
> EXPLAIN PLAN FOR
> SELECT 
>    CAST("Description" AS VARCHAR(5) CHARACTER SET "ISO-8859-1") AS "Description",
>    CAST("Name" as VARCHAR(2) CHARACTER SET "ISO-8859-1") AS "Some Name"
> FROM mysfdc_server."SFDC"."Opportunity"
> WHERE
>    "Name" > 'T';
+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|                                                                                                                                                                                                              column0                                                                                                                                                                                                               |
+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| FennelToIteratorConverter                                                                                                                                                                                                                                                                                                                                                                                                          |
|   FennelReshapeRel(projection=[[1, 0]], outputRowType=[RecordType(VARCHAR(5) CHARACTER SET "ISO-8859-1" COLLATE "ISO-8859-1$en_US$primary" Description, VARCHAR(2) CHARACTER SET "ISO-8859-1" COLLATE "ISO-8859-1$en_US$primary" Some Name) NOT NULL])                                                                                                                                                                             |
|     IteratorToFennelConverter                                                                                                                                                                                                                                                                                                                                                                                                      |
|       FarragoJavaUdxRel(invocation=[CAST(SFDC_QUERY(CAST('select Name, Description from Opportunity where Name > ''T'''):VARCHAR(10000) CHARACTER SET "ISO-8859-1" COLLATE "ISO-8859-1$en_US$primary", CAST('VARCHAR(248),VARCHAR(384)'):VARCHAR(10000) CHARACTER SET "ISO-8859-1" COLLATE "ISO-8859-1$en_US$primary")):RecordType(VARCHAR(128) CHARACTER SET "ISO-8859-1" COLLATE "ISO-8859-1$en_US$primary" OBJECTS) NOT NULL])  |
+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
> 
> 
> SELECT 
>    CAST("Description" AS VARCHAR(5) CHARACTER SET "ISO-8859-1") AS "Description",
>    CAST("Name" as VARCHAR(2) CHARACTER SET "ISO-8859-1") AS "Some Name"
> FROM mysfdc_server."SFDC"."Opportunity"
> WHERE
>    "Name" > 'T';
+--------------+------------+
| Description  | Some Name  |
+--------------+------------+
|              | Un         |
|              | Un         |
|              | Un         |
|              | Un         |
|              | Un         |
|              | Un         |
|              | Un         |
|              | Un         |
|              | Un         |
|              | Un         |
|              | Un         |
|              | Un         |
|              | Un         |
+--------------+------------+
> 
> 
> -- filter expressions; should still be able to push down projection
> EXPLAIN PLAN FOR
> SELECT 
>    CAST("Description" AS VARCHAR(5) CHARACTER SET "ISO-8859-1") AS "Description",
>    CAST("Name" as VARCHAR(2) CHARACTER SET "ISO-8859-1") AS "Some Name"
> FROM mysfdc_server."SFDC"."Opportunity"
> WHERE
>    CAST("Name" as VARCHAR(2) CHARACTER SET "ISO-8859-1") > 'T';
+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|                                                                                                                                                                                                   column0                                                                                                                                                                                                   |
+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| IterCalcRel(expr#0..1=[{inputs}], expr#2=[CAST($t1):VARCHAR(5) CHARACTER SET "ISO-8859-1" COLLATE "ISO-8859-1$en_US$primary"], expr#3=[CAST($t0):VARCHAR(2) CHARACTER SET "ISO-8859-1" COLLATE "ISO-8859-1$en_US$primary"], expr#4=['T'], expr#5=[>($t3, $t4)], Description=[$t2], Some Name=[$t3], $condition=[$t5])                                                                                       |
|   FarragoJavaUdxRel(invocation=[CAST(SFDC_QUERY(CAST('select Name, Description from Opportunity'):VARCHAR(10000) CHARACTER SET "ISO-8859-1" COLLATE "ISO-8859-1$en_US$primary", CAST('VARCHAR(248),VARCHAR(384)'):VARCHAR(10000) CHARACTER SET "ISO-8859-1" COLLATE "ISO-8859-1$en_US$primary")):RecordType(VARCHAR(128) CHARACTER SET "ISO-8859-1" COLLATE "ISO-8859-1$en_US$primary" OBJECTS) NOT NULL])  |
+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
> 
> 
> SELECT 
>    CAST("Description" AS VARCHAR(5) CHARACTER SET "ISO-8859-1") AS "Description",
>    CAST("Name" as VARCHAR(2) CHARACTER SET "ISO-8859-1") AS "Some Name"
> FROM mysfdc_server."SFDC"."Opportunity"
> WHERE
>    CAST("Name" as VARCHAR(2) CHARACTER SET "ISO-8859-1") > 'T';
+--------------+------------+
| Description  | Some Name  |
+--------------+------------+
|              | Un         |
|              | Un         |
|              | Un         |
|              | Un         |
|              | Un         |
|              | Un         |
|              | Un         |
|              | Un         |
|              | Un         |
|              | Un         |
|              | Un         |
|              | Un         |
|              | Un         |
+--------------+------------+
> 
> -- is [not] null
> EXPLAIN PLAN FOR
> SELECT
>    "Name", "Type"
> FROM mysfdc_server."SFDC"."Opportunity"
> WHERE 
>    "Type" is null and "Name" > 'K'
> order by 1;
+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|                                                                                                                                                                                                                     column0                                                                                                                                                                                                                     |
+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| FennelToIteratorConverter                                                                                                                                                                                                                                                                                                                                                                                                                       |
|   FennelSortRel(key=[[0]], discardDuplicates=[false])                                                                                                                                                                                                                                                                                                                                                                                           |
|     IteratorToFennelConverter                                                                                                                                                                                                                                                                                                                                                                                                                   |
|       FarragoJavaUdxRel(invocation=[CAST(SFDC_QUERY(CAST('select Name, Type from Opportunity where (Type = null) AND (Name > ''K'')'):VARCHAR(10000) CHARACTER SET "ISO-8859-1" COLLATE "ISO-8859-1$en_US$primary", CAST('VARCHAR(248),VARCHAR(168)'):VARCHAR(10000) CHARACTER SET "ISO-8859-1" COLLATE "ISO-8859-1$en_US$primary")):RecordType(VARCHAR(128) CHARACTER SET "ISO-8859-1" COLLATE "ISO-8859-1$en_US$primary" OBJECTS) NOT NULL])  |
+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
> 
> SELECT
>    "Name", "Type"
> FROM mysfdc_server."SFDC"."Opportunity"
> WHERE 
>    "Type" is null and "Name" > 'K'
> order by 1;
+-------------------------------+-------+
|             Name              | Type  |
+-------------------------------+-------+
| Pyramid Emergency Generators  |       |
+-------------------------------+-------+
> 
> EXPLAIN PLAN FOR
> SELECT
>    "Status" AS "LE_KEY_STATUS"
> FROM mysfdc_server."SFDC"."CampaignMember"
> WHERE 
>    "LeadId" IS NOT NULL;
+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|                                                                                                                                                                                                               column0                                                                                                                                                                                                                |
+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| FennelToIteratorConverter                                                                                                                                                                                                                                                                                                                                                                                                            |
|   FennelReshapeRel(projection=[[1]], outputRowType=[RecordType(VARCHAR(168) CHARACTER SET "ISO-8859-1" COLLATE "ISO-8859-1$en_US$primary" LE_KEY_STATUS) NOT NULL])                                                                                                                                                                                                                                                                  |
|     IteratorToFennelConverter                                                                                                                                                                                                                                                                                                                                                                                                        |
|       FarragoJavaUdxRel(invocation=[CAST(SFDC_QUERY(CAST('select LeadId, Status from CampaignMember where LeadId != null'):VARCHAR(10000) CHARACTER SET "ISO-8859-1" COLLATE "ISO-8859-1$en_US$primary", CAST('VARCHAR(146),VARCHAR(168)'):VARCHAR(10000) CHARACTER SET "ISO-8859-1" COLLATE "ISO-8859-1$en_US$primary")):RecordType(VARCHAR(128) CHARACTER SET "ISO-8859-1" COLLATE "ISO-8859-1$en_US$primary" OBJECTS) NOT NULL])  |
+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
> 
> SELECT
>    "Status" AS "LE_KEY_STATUS"
> FROM mysfdc_server."SFDC"."CampaignMember"
> WHERE 
>    "LeadId" IS NOT NULL;
+----------------+
| LE_KEY_STATUS  |
+----------------+
+----------------+
> 
> EXPLAIN PLAN FOR
> SELECT
>    "Name", "Type"
> FROM mysfdc_server."SFDC"."Opportunity"
> WHERE 
>    "Type" is not null and "Name" > 'K'
> order by 1;
+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|                                                                                                                                                                                                                     column0                                                                                                                                                                                                                      |
+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| FennelToIteratorConverter                                                                                                                                                                                                                                                                                                                                                                                                                        |
|   FennelSortRel(key=[[0]], discardDuplicates=[false])                                                                                                                                                                                                                                                                                                                                                                                            |
|     IteratorToFennelConverter                                                                                                                                                                                                                                                                                                                                                                                                                    |
|       FarragoJavaUdxRel(invocation=[CAST(SFDC_QUERY(CAST('select Name, Type from Opportunity where (Type != null) AND (Name > ''K'')'):VARCHAR(10000) CHARACTER SET "ISO-8859-1" COLLATE "ISO-8859-1$en_US$primary", CAST('VARCHAR(248),VARCHAR(168)'):VARCHAR(10000) CHARACTER SET "ISO-8859-1" COLLATE "ISO-8859-1$en_US$primary")):RecordType(VARCHAR(128) CHARACTER SET "ISO-8859-1" COLLATE "ISO-8859-1$en_US$primary" OBJECTS) NOT NULL])  |
+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
> 
> SELECT
>    "Name", "Type"
> FROM mysfdc_server."SFDC"."Opportunity"
> WHERE 
>    "Type" is not null and "Name" > 'K'
> order by 1;
+----------------------------------------+------------------------------+
|                  Name                  |             Type             |
+----------------------------------------+------------------------------+
| United Oil Emergency Generators        | Existing Customer - Upgrade  |
| United Oil Installations               | Existing Customer - Upgrade  |
| United Oil Installations               | Existing Customer - Upgrade  |
| United Oil Installations               | Existing Customer - Upgrade  |
| United Oil Office Portable Generators  | Existing Customer - Upgrade  |
| United Oil Plant Standby Generators    | Existing Customer - Upgrade  |
| United Oil Refinery Generators         | New Customer                 |
| United Oil Refinery Generators         | Existing Customer - Upgrade  |
| United Oil SLA                         | Existing Customer - Upgrade  |
| United Oil Standby Generators          | Existing Customer - Upgrade  |
| University of AZ Installations         | Existing Customer - Upgrade  |
| University of AZ Portable Generators   | New Customer                 |
| University of AZ SLA                   | Existing Customer - Upgrade  |
+----------------------------------------+------------------------------+
> 
> -------------
> -- CLEANUP --
> -------------
> drop server mysfdc_server cascade;
> drop schema sfdc cascade;
> 
> !quit
