!v

create schema sfdc;
set schema 'sfdc';
set path 'sfdc';

-------------------------
-- SFDC foreign server --
-------------------------

create server mysfdc_server
foreign data wrapper SALESFORCE
options (
  USER_NAME '@username@',
  PASSWORD '@password@'
);

-------------
-- Queries --
-------------

-- SFDC does not distinguish between lower and upper case for strings
select "Name" from mysfdc_server.sfdc."Account" where "Name" > 'c' order by "Name";

select "Name" from mysfdc_server.sfdc."Account" where "Name" like 'S%' order by "Name";

select "Name" from mysfdc_server.sfdc."Account" where "Name" > 'U' OR ("Name" > 'x' AND "BillingStreet" < '0') order by "Name";

IMPORT FOREIGN SCHEMA SFDC from server MYSFDC_SERVER into sfdc;

select "Name", "Type", "Phone", "Industry" from sfdc."Account" order by "Name";

CREATE FOREIGN TABLE sfdc_implicit_table
server mysfdc_server
options (
  object 'Account'
);

select "Name", "AnnualRevenue", "NumberOfEmployees" from sfdc_implicit_table where "AnnualRevenue" >= 10000 and "NumberOfEmployees" >= 40 order by "Name";

select "Name" from mysfdc_server.sfdc."Account" where "SystemModstamp" >= TIMESTAMP'2009-5-31 8:15:12' order by "Name";
select "NumberOfEmployees" from mysfdc_server.sfdc."Account" where "NumberOfEmployees" > 5 order by 1;

-- not pushed down due to the select
select "NumberOfEmployees" + 1 as "X" from mysfdc_server.sfdc."Account" where "NumberOfEmployees" > 5 order by 1;

select "Name" as "BLAH" from mysfdc_server.sfdc."Account" order by 1;

select "Name" from mysfdc_server.sfdc."Account" where "NumberOfEmployees" is not null order by 1;

select "Name","NumberOfEmployees","ShippingState" from mysfdc_server.sfdc."Account" where "NumberOfEmployees" <> 40 AND ("ShippingState" > 'CA' OR "LastModifiedDate" between TIMESTAMP'2006-07-25 00:00:00' and TIMESTAMP'2007-12-12 00:00:00') order by "Name";

-------------
-- CLEANUP --
-------------
drop server mysfdc_server cascade;
drop schema sfdc cascade;
