create schema sfdc;
set schema 'sfdc';
set path 'sfdc';

-------------------------
-- SFDC foreign server --
-------------------------

create server mysfdc_server
foreign data wrapper SALESFORCE
options (
  USER_NAME '@username_test@',
  PASSWORD '@password_test@'
);

-- test: browse connect functionality
select * from sys_boot.mgmt.browse_connect_foreign_wrappers
where foreign_wrapper_name = 'SALESFORCE' order by 2;

-- query for available connection options
select * from table(
  sys_boot.mgmt.browse_connect_foreign_server(
    'SALESFORCE',
    cursor(
        select '' as option_name, '' as option_value
        from sys_boot.jdbc_metadata.empty_view)))
order by option_ordinal, option_choice_ordinal;

-- query for available connection options, with specified set values
select * from table(
  sys_boot.mgmt.browse_connect_foreign_server(
    'SALESFORCE',
    cursor(
        values ('USER_NAME', 'username'),
               ('PASSWORD', 'passwd'))))
order by option_ordinal, option_choice_ordinal;

-- query for available schemas
select * from table(sys_boot.mgmt.browse_foreign_schemas(
    'MYSFDC_SERVER'))
order by schema_name;

-------------
-- Queries --
-------------

-- negative tests
select * from mysfdc_server."Account";
select * from mysfdc_server."sfdc"."Account";

-- positive tests
select "Name", "Id" from mysfdc_server.sfdc."Account" order by "Id";

select * from mysfdc_server.sfdc."Contact_LOV" order by "Field","Value";

IMPORT FOREIGN SCHEMA SFDC from server MYSFDC_SERVER into sfdc;

select "Id", "Name", "Type", "Phone", "Industry" from sfdc."Account" order by "Id";

create schema local_sfdc;
set schema 'local_sfdc';

CREATE FOREIGN TABLE sfdc_implicit_table
server mysfdc_server
options (
  object 'Account'
);
select "Name", "BillingStreet", "AnnualRevenue", "NumberOfEmployees" from sfdc_implicit_table order by "Name", "BillingStreet", "AnnualRevenue", "NumberOfEmployees";

-------------
-- CLEANUP --
-------------
--drop server mysfdc_server cascade;
--drop schema sfdc cascade;
--drop schema local_sfdc cascade;
