--
-- LER-617 : create complex views on top of SFDC objects
--

-------------------------
-- SFDC foreign server --
-------------------------

create server SFDC_SALES_LEDEV_LINK
foreign data wrapper SALESFORCE
options (
  USER_NAME '@username@',
  PASSWORD '@password@'
);


create schema "OPTY_SFDC_ADAPTERS" ;

-- (1)

CREATE VIEW "OPTY_SFDC_ADAPTERS"."V_OPTY_LOCATIONS_SRC"
("ADDRESS_NUMBER","CITY_CODE","STATE_CODE","AUTO_ROUTING_CODE","COUNTRY_CODE","LOC_TYPE","LOCATION_ID","SOURCE_ID")
 DESCRIPTION 'Deployed by application repository'
 AS
SELECT
    "USER"."Street" AS "ADDRESS_NUMBER",
    "USER"."City" AS "CITY_CODE",
    "USER"."State" AS "STATE_CODE",
    "USER"."PostalCode" AS "AUTO_ROUTING_CODE",
    "USER"."Country" AS "COUNTRY_CODE",
    'EmployeeLocations' AS "LOC_TYPE",
    "USER"."Street" || "USER"."City" || "USER"."State" || "USER"."PostalCode" || "USER"."Country" || 'EmployeeLocations' AS "LOCATION_ID",
    'SFDC' AS "SOURCE_ID"
FROM
    "SFDC_SALES_LEDEV_LINK".SFDC."User" AS "USER"
WHERE
    ("USER"."Street" IS NOT NULL)
;

SELECT * FROM  "OPTY_SFDC_ADAPTERS"."V_OPTY_LOCATIONS_SRC";

-- (2)

CREATE VIEW "OPTY_SFDC_ADAPTERS"."V_OPTY_SALESREPS_SRC"
("SALES_REP_NUM","SALES_REP_LNAME","SALES_REP_FNAME","SALES_REP_CNAME","DEPARTMENT_NAME","JOB_TITLE","PHONE_NUMBER","FAX_NUMBER","EMAIL_ADDRESS","STATUS","CREATED_ON_DATE","UPDATED_ON_DATE","SOURCE_ID","SALES_REP_ID","LE_DOMAIN","LE_SUB_DOMAIN","HIRE_DATE","EMPLOYEE_NUMBER","SALES_REGION","ADDRESS_1","ADDRESS_2","CITY","STATE","COUNTRY","ZIPCODE")
 DESCRIPTION 'Deployed by application repository'
 AS
SELECT
    "USER"."Username" AS "SALES_REP_NUM",
    "USER"."LastName" AS "SALES_REP_LNAME",
    "USER"."FirstName" AS "SALES_REP_FNAME",
    "USER"."FirstName" || "USER"."LastName" AS "SALES_REP_CNAME",
    "USER"."Department" AS "DEPARTMENT_NAME",
    "USER"."Title" AS "JOB_TITLE",
    "USER"."Phone" AS "PHONE_NUMBER",
    "USER"."Fax" AS "FAX_NUMBER",
    "USER"."Email" AS "EMAIL_ADDRESS",
    CASE WHEN LOWER("USER"."IsActive") = 'true' THEN 'Active' ELSE 'InActive' END AS "STATUS",
    "USER"."CreatedDate" AS "CREATED_ON_DATE",
    "USER"."LastModifiedDate" AS "UPDATED_ON_DATE",
    'SFDC' AS "SOURCE_ID",
    "USER"."Id" AS "SALES_REP_ID",
    cast (NULL as varchar(256)) AS "LE_DOMAIN",
    cast (NULL as varchar(256)) AS "LE_SUB_DOMAIN",
    cast (NULL as DATE) AS "HIRE_DATE",
    cast (NULL as varchar(256)) AS "EMPLOYEE_NUMBER",
    "USER"."Division" AS "SALES_REGION",
    "USER"."Street" AS "ADDRESS_1",
    cast (NULL as varchar(256)) AS "ADDRESS_2",
    "USER"."City" AS "CITY",
    "USER"."State" AS "STATE",
    "USER"."Country" AS "COUNTRY",
    "USER"."PostalCode" AS "ZIPCODE"
FROM
    "SFDC_SALES_LEDEV_LINK".SFDC."User" AS "USER"
;

-- 2010-06-01 schoi: per-user account specific
-- SELECT * FROM "OPTY_SFDC_ADAPTERS"."V_OPTY_SALESREPS_SRC";

-- (3)

CREATE VIEW "OPTY_SFDC_ADAPTERS"."V_OPTY_LEADSRC_SRC"
("SOURCE_ID","OPTY_LEAD_SRC_ID","OPTY_LEAD_SRC_CODE","OPTY_LEAD_SRC_NAME")
 DESCRIPTION 'Deployed by application repository'
 AS
SELECT
    'SFDC' AS "SOURCE_ID",
    "OPPORTUNITY"."LeadSource" AS "OPTY_LEAD_SRC_ID",
    "OPPORTUNITY"."LeadSource" AS "OPTY_LEAD_SRC_CODE",
    "OPPORTUNITY"."LeadSource" AS "OPTY_LEAD_SRC_NAME"
FROM
    "SFDC_SALES_LEDEV_LINK".SFDC."Opportunity" AS "OPPORTUNITY"
WHERE
    ("OPPORTUNITY"."LeadSource" is not null)
GROUP BY
    "OPPORTUNITY"."LeadSource"
;

SELECT * from "OPTY_SFDC_ADAPTERS"."V_OPTY_LEADSRC_SRC" ORDER BY 1,2,3;


-- (4)

CREATE VIEW "OPTY_SFDC_ADAPTERS"."V_OPTY_OPPORTUNITY_SRC"
(
-- "OPPORTUNITY_ID",
 "OPPORTUNITY_NAME",
 "OPPORTUNITY_DESC",
-- "FCST_CAT_ID",
 "CAMPAIGN_ID",
 "OPTY_TYPE_ID",
 "OPTY_STAGE_ID",
 "LEAD_SRC_ID",
 "OPTY_STATUS_ID",
-- "OWNER_ID",
 "OPTY_DOC_AMT",
 "OPTY_GRP_AMT",
 "EXP_REV_DOC_AMT",
 "EXP_REV_GRP_AMT",
 "PROBABILITY_ID",
-- "PROSPECT_ID",
 "CUSTOMER_ID",
 "CUST_ACCT_ID",
-- "OPTY_START_DATE",
-- "OPTY_CLOSE_DATE",
-- "EXP_CLOSE_DATE",
 "PROD_CNT",
-- "SALES_REP_ID",
-- "SRC_CREATED_ON_DATE",
-- "SRC_UPDATED_ON_DATE",
 "LE_DOMAIN",
 "LE_SUB_DOMAIN",
 "SOURCE_ID"
)
 DESCRIPTION 'Deployed by application repository'
 AS
SELECT
--    "OPPORTUNITY"."Id" AS "OPPORTUNITY_ID",
    "OPPORTUNITY"."Name" AS "OPPORTUNITY_NAME",
    SUBSTRING("OPPORTUNITY"."Description",1,254) AS "OPPORTUNITY_DESC",
--    "OPPORTUNITY"."ForecastCategory" AS "FCST_CAT_ID",
    cast (NULL as varchar(256)) AS "CAMPAIGN_ID",
    cast (NULL as varchar(256)) AS "OPTY_TYPE_ID",
    "OPPORTUNITY"."StageName" AS "OPTY_STAGE_ID",
    "OPPORTUNITY"."LeadSource" AS "LEAD_SRC_ID",
    CASE WHEN LOWER("OPPORTUNITY"."IsClosed") = 'true' THEN 'Closed' ELSE 'Open' END AS "OPTY_STATUS_ID",
--    "OPPORTUNITY"."OwnerId" AS "OWNER_ID",
    "OPPORTUNITY"."Amount" AS "OPTY_DOC_AMT",
    "OPPORTUNITY"."Amount" AS "OPTY_GRP_AMT",
    "OPPORTUNITY"."Amount" AS "EXP_REV_DOC_AMT",
    "OPPORTUNITY"."Amount" AS "EXP_REV_GRP_AMT",
-- TRUNC( "OPPORTUNITY"."Probability") AS "PROBABILITY_ID",
    "OPPORTUNITY"."Probability" AS "PROBABILITY_ID",
--    "OPPORTUNITY"."AccountId" AS "PROSPECT_ID",
--    "OPPORTUNITY"."SalesRegion__c" AS "SALES_GEO_ID",
    cast (NULL as varchar(256)) AS "CUSTOMER_ID",
    cast (NULL as varchar(256)) AS "CUST_ACCT_ID",
--    "OPPORTUNITY"."CreatedDate" AS "OPTY_START_DATE",
--    "OPPORTUNITY"."CloseDate" AS "OPTY_CLOSE_DATE",
--    "OPPORTUNITY"."CloseDate" AS "EXP_CLOSE_DATE",
    cast (NULL as varchar(256)) AS "PROD_CNT",
--    "OPPORTUNITY"."OwnerId" AS "SALES_REP_ID",
--    "OPPORTUNITY"."CreatedDate" AS "SRC_CREATED_ON_DATE",
--    "OPPORTUNITY"."LastModifiedDate" AS "SRC_UPDATED_ON_DATE",
    cast (NULL as varchar(256)) AS "LE_DOMAIN",
    cast (NULL as varchar(256)) AS "LE_SUB_DOMAIN",
    'SFDC' AS "SOURCE_ID"
FROM
    "SFDC_SALES_LEDEV_LINK".SFDC."Opportunity" AS "OPPORTUNITY"
;

SELECT * FROM "OPTY_SFDC_ADAPTERS"."V_OPTY_OPPORTUNITY_SRC" ORDER BY 1,2,3;

-- (5)

CREATE VIEW "OPTY_SFDC_ADAPTERS"."V_OPTY_PROSPECTS_SRC"
(
-- "PROSPECT_ID",
 "PROSPECT_NAME",
 "PROSPECT_STATUS",
 "SIC_CODE",
 "SIC_NAME",
 "INDUSTRY_VERTICAL",
 "PROSPECT_REVENUE",
 "NUM_EMPLOYEES",
-- "SRC_CREATED_ON_DATE",
-- "SRC_UPDATED_ON_DATE",
 "PROSPECT_NUM",
 "PROSPECT_TYPE_CODE",
 "PROSPECT_TYPE_NAME",
 "LEGAL_STRUCT_CODE",
 "LEGAL_STRUCT_NAME"
)
 DESCRIPTION 'Deployed by application repository'
 AS
SELECT
--    "ACCOUNT"."Id" AS "PROSPECT_ID",
    "ACCOUNT"."Name" AS "PROSPECT_NAME",
    "ACCOUNT"."Type" AS "PROSPECT_STATUS",
    "ACCOUNT"."Sic" AS "SIC_CODE",
    "ACCOUNT"."Sic" AS "SIC_NAME",
    "ACCOUNT"."Industry" AS "INDUSTRY_VERTICAL",
    "ACCOUNT"."AnnualRevenue" AS "PROSPECT_REVENUE",
    "ACCOUNT"."NumberOfEmployees" AS "NUM_EMPLOYEES",
--    "ACCOUNT"."CreatedDate" AS "SRC_CREATED_ON_DATE",
--    "ACCOUNT"."LastModifiedDate" AS "SRC_UPDATED_ON_DATE",
    CASE WHEN "ACCOUNT"."AccountNumber" IS NULL THEN "ACCOUNT"."Name" ELSE "ACCOUNT"."AccountNumber" END AS "PROSPECT_NUM",
    "ACCOUNT"."Rating" AS "PROSPECT_TYPE_CODE",
    "ACCOUNT"."Rating" AS "PROSPECT_TYPE_NAME",
    "ACCOUNT"."Ownership" AS "LEGAL_STRUCT_CODE",
    "ACCOUNT"."Ownership" AS "LEGAL_STRUCT_NAME"
FROM
    "SFDC_SALES_LEDEV_LINK".SFDC."Account" AS "ACCOUNT";

SELECT * FROM "OPTY_SFDC_ADAPTERS"."V_OPTY_PROSPECTS_SRC" ORDER BY 1,2,3;

-- (6)

CREATE VIEW "OPTY_SFDC_ADAPTERS"."V_OPTY_FCSTCAT_SRC"
(
 "OPTY_FCSTCAT_ID",
 "OPTY_FCSTCAT_CODE",
 "OPTY_FCSTCAT_NAME",
 "SOURCE_ID"
-- "SRC_CREATED_ON_DATE",
-- "SRC_UPDATED_ON_DATE"
)
 DESCRIPTION 'Deployed by application repository'
 AS
SELECT
    "OPPORTUNITYSTAGE"."ForecastCategory" AS "OPTY_FCSTCAT_ID",
    "OPPORTUNITYSTAGE"."ForecastCategory" AS "OPTY_FCSTCAT_CODE",
    "OPPORTUNITYSTAGE"."ForecastCategory" AS "OPTY_FCSTCAT_NAME",
    'SFDC' AS "SOURCE_ID"
--    MIN("OPPORTUNITYSTAGE"."CreatedDate") AS "SRC_CREATED_ON_DATE",
--    MAX("OPPORTUNITYSTAGE"."LastModifiedDate") AS "SRC_UPDATED_ON_DATE"
FROM
    "SFDC_SALES_LEDEV_LINK".SFDC."OpportunityStage" AS "OPPORTUNITYSTAGE"
GROUP BY
    "OPPORTUNITYSTAGE"."ForecastCategory",
    "OPPORTUNITYSTAGE"."ForecastCategory",
--    "OPPORTUNITYSTAGE"."ForecastCategory",
    "OPPORTUNITYSTAGE"."ForecastCategory"
;

SELECT * FROM "OPTY_SFDC_ADAPTERS"."V_OPTY_FCSTCAT_SRC" ORDER BY 1;

-- (7)

CREATE VIEW "OPTY_SFDC_ADAPTERS"."V_OPTY_STAGES_SRC"
(
-- "OPTY_STAGE_ID",
 "OPTY_STAGE_CODE",
 "OPTY_STAGE_NAME",
 "OPTY_STG_SUB_CAT_CODE",
 "OPTY_STG_SUB_CAT_NAME",
 "OPTY_STAGE_CAT_CODE",
 "OPTY_STAGE_CAT_NAME",
 "SOURCE_ID"
-- "SRC_CREATED_ON_DATE",
-- "SRC_UPDATED_ON_DATE"
)
 DESCRIPTION 'Source view on Opportunity Stages'
 AS
SELECT
--    "OPPORTUNITYSTAGE"."Id" AS "OPTY_STAGE_ID",
    SUBSTRING("OPPORTUNITYSTAGE"."MasterLabel",1,30) AS "OPTY_STAGE_CODE",
    "OPPORTUNITYSTAGE"."MasterLabel" AS "OPTY_STAGE_NAME",
    CASE WHEN "OPPORTUNITYSTAGE"."IsActive" = 'true' THEN 'Active' Else 'InActive' END AS "OPTY_STG_SUB_CAT_CODE",
    CASE WHEN "OPPORTUNITYSTAGE"."IsActive" = 'true' THEN 'Active' Else 'InActive' END AS "OPTY_STG_SUB_CAT_NAME",
    CASE WHEN "OPPORTUNITYSTAGE"."IsClosed" = 'true' THEN 'Closed' ELSE 'Open' END AS "OPTY_STAGE_CAT_CODE",
    CASE WHEN "OPPORTUNITYSTAGE"."IsClosed" = 'true' THEN 'Closed' ELSE 'Open' END AS "OPTY_STAGE_CAT_NAME",
    'SFDC' AS "SOURCE_ID"
--     "OPPORTUNITYSTAGE"."CreatedDate" AS "SRC_CREATED_ON_DATE",
--     "OPPORTUNITYSTAGE"."LastModifiedDate" AS "SRC_UPDATED_ON_DATE"
FROM
    "SFDC_SALES_LEDEV_LINK".SFDC."OpportunityStage" AS "OPPORTUNITYSTAGE"
;

SELECT * FROM "OPTY_SFDC_ADAPTERS"."V_OPTY_STAGES_SRC" ORDER BY 1,2,3;


-------------
-- CLEANUP --
-------------
drop server SFDC_SALES_LEDEV_LINK cascade;
drop schema "OPTY_SFDC_ADAPTERS" cascade;
