0: jdbc:luciddb:> -- create tablespace TBB_BENCH_TS datafile 'bench_ts.dat' size 128000K;
0: jdbc:luciddb:> 
0: jdbc:luciddb:> create foreign data wrapper @DATA_WRAPPER_NAME@
. . . . . . . . > library '@DATA_LIBRARY@'
. . . . . . . . > language java;
0: jdbc:luciddb:> 
0: jdbc:luciddb:> create server @SERVER_NAME@
. . . . . . . . > foreign data wrapper @DATA_WRAPPER_NAME@
. . . . . . . . > options(
. . . . . . . . >     url '@URL@',
. . . . . . . . >     user_name '@USERNAME@',
. . . . . . . . >     password '@PASSWORD@',
. . . . . . . . >     schema_name '@SCHEMA_NAME@',
. . . . . . . . >     qualifying_catalog_name '@CATALOG_NAME@',
. . . . . . . . >     table_types '@TABLE_TYPES@',
. . . . . . . . >     driver_class '@DRIVER_CLASS@'
. . . . . . . . > 
. . . . . . . . >     directory '@DIRECTORY@',
. . . . . . . . >     file_extension '@FILE_EXTENSION@',
. . . . . . . . >     ctrl_file_extension '@CTRL_FILE_EXT@',
. . . . . . . . >     field_delimiter '@FIELD_DELIM@',
. . . . . . . . >     line_delimiter '@LINE_DELIM@',
. . . . . . . . >     quote_char '@QUOTE_CHAR@',
. . . . . . . . >     escape_char '@ESCAPE_CHAR@',
. . . . . . . . >     with_header '@WITH_HEADER@',
. . . . . . . . >     num_rows_scan '@NUM_ROWS_SCAN@'
. . . . . . . . > );
0: jdbc:luciddb:> 
0: jdbc:luciddb:> create schema @name_prefix@_schema;
0: jdbc:luciddb:> 
0: jdbc:luciddb:> set schema '@name_prefix@_schema';
0: jdbc:luciddb:> 
0: jdbc:luciddb:> 
0: jdbc:luciddb:> CREATE TABLE BENCH1M (
. . . . . . . . >   KSEQ  INTEGER  primary key
. . . . . . . . >  ,K2    INTEGER
. . . . . . . . >  ,K4    INTEGER
. . . . . . . . >  ,K5    INTEGER
. . . . . . . . >  ,K10   INTEGER
. . . . . . . . >  ,K25   INTEGER
. . . . . . . . >  ,K100  INTEGER
. . . . . . . . >  ,K1K   INTEGER
. . . . . . . . >  ,K10K  INTEGER
. . . . . . . . >  ,K40K  INTEGER
. . . . . . . . >  ,K100K INTEGER
. . . . . . . . >  ,K250K INTEGER
. . . . . . . . >  ,K500K INTEGER
. . . . . . . . >  ,S1    VARCHAR(8)
. . . . . . . . >  ,S2    VARCHAR(20)
. . . . . . . . >  ,S3    VARCHAR(20)
. . . . . . . . >  ,S4    VARCHAR(20)
. . . . . . . . >  ,S5    VARCHAR(20)
. . . . . . . . >  ,S6    VARCHAR(20)
. . . . . . . . >  ,S7    VARCHAR(20)
. . . . . . . . >  ,S8    VARCHAR(20)
. . . . . . . . > )
. . . . . . . . > -- CLUSTER (s1, s2, s3, s4, s5, s6, s7, s8)
. . . . . . . . > -- TABLESPACE TBB_BENCH_TS
. . . . . . . . > ;
0: jdbc:luciddb:> 
0: jdbc:luciddb:> CREATE INDEX B1M_K2_IDX ON BENCH1M(K2)
. . . . . . . . > ;
0: jdbc:luciddb:> CREATE INDEX B1M_K4_IDX ON BENCH1M(K4)
. . . . . . . . > ;
0: jdbc:luciddb:> CREATE INDEX B1M_K5_IDX ON BENCH1M(K5)
. . . . . . . . > ;
0: jdbc:luciddb:> CREATE INDEX B1M_K10_IDX ON BENCH1M(K10)
. . . . . . . . > ;
0: jdbc:luciddb:> CREATE INDEX B1M_K25_IDX ON BENCH1M(K25)
. . . . . . . . > ;
0: jdbc:luciddb:> CREATE INDEX B1M_K100_IDX ON BENCH1M(K100)
. . . . . . . . > ;
0: jdbc:luciddb:> CREATE INDEX B1M_K1K_IDX ON BENCH1M(K1K)
. . . . . . . . > ;
0: jdbc:luciddb:> CREATE INDEX B1M_K10K_IDX ON BENCH1M(K10K)
. . . . . . . . > ;
0: jdbc:luciddb:> CREATE INDEX B1M_K40K_IDX ON BENCH1M(K40K)
. . . . . . . . > ;
0: jdbc:luciddb:> CREATE INDEX B1M_K100K_IDX ON BENCH1M(K100K)
. . . . . . . . > ;
0: jdbc:luciddb:> CREATE INDEX B1M_K250K_IDX ON BENCH1M(K250K)
. . . . . . . . > ;
0: jdbc:luciddb:> CREATE INDEX B1M_K500K_IDX ON BENCH1M(K500K)
. . . . . . . . > ;
0: jdbc:luciddb:> 
0: jdbc:luciddb:> -- composite indices (for Q5)
0: jdbc:luciddb:> 
0: jdbc:luciddb:> CREATE INDEX B1M_K2_K100_IDX ON BENCH1M(K2,K100)
. . . . . . . . > ;
0: jdbc:luciddb:> CREATE INDEX B1M_K4_K25_IDX ON BENCH1M(K4,K25)
. . . . . . . . > ;
0: jdbc:luciddb:> CREATE INDEX B1M_K10_K25_IDX ON BENCH1M(K10,K25)
. . . . . . . . > ;
0: jdbc:luciddb:> 
0: jdbc:luciddb:> 
0: jdbc:luciddb:> CREATE FOREIGN TABLE BENCH_SOURCE (
. . . . . . . . > C1 INTEGER,
. . . . . . . . > C2 INTEGER,
. . . . . . . . > C4 INTEGER,
. . . . . . . . > C5 INTEGER,
. . . . . . . . > C10 INTEGER,
. . . . . . . . > C25 INTEGER,
. . . . . . . . > C100 INTEGER,
. . . . . . . . > C1K INTEGER,
. . . . . . . . > C10K INTEGER,
. . . . . . . . > C40K  INTEGER,
. . . . . . . . > C100K INTEGER,
. . . . . . . . > C250K INTEGER,
. . . . . . . . > C500K INTEGER
. . . . . . . . > -- not sure if there is/ever will be a way to update foreign tables like this
. . . . . . . . > -- ,S1    VARCHAR(8)
. . . . . . . . > -- ,S2    VARCHAR(20)
. . . . . . . . > -- ,S3    VARCHAR(20)
. . . . . . . . > -- ,S4    VARCHAR(20)
. . . . . . . . > -- ,S5    VARCHAR(20)
. . . . . . . . > -- ,S6    VARCHAR(20)
. . . . . . . . > -- ,S7    VARCHAR(20)
. . . . . . . . > -- ,S8    VARCHAR(20)
. . . . . . . . > )
. . . . . . . . > -- USING 
. . . . . . . . > -- LINK ODBC_SQLSERVER DEFINED BY
. . . . . . . . > -- 'select kseq,k2,K4,K5,K10,K25,K100,K1K,K10K,K40K,K100K,k250k,k500k, ''12345678'', ''12345678900987654321'', ''12345678900987654321'', ''12345678900987654321'', ''12345678900987654321'', ''12345678900987654321'', ''12345678900987654321'', ''12345678900987654321'' from BENCHMARK.dbo.bench1M'
. . . . . . . . > -- ;
. . . . . . . . > server @SERVER_NAME@
. . . . . . . . > options (
. . . . . . . . > SCHEMA_NAME '@SCHEMA@',
. . . . . . . . > @TABLE_NAME@ 'bench1M'
. . . . . . . . > )
. . . . . . . . > ;
0: jdbc:luciddb:> 
0: jdbc:luciddb:> insert into bench1m (kseq,k2,k4,k5,k10,k25,k100,k1K,k10k,k40k,k100k,k250k,
. . . . . . . . > k500k, s1, s2, s3, s4, s5, s6, s7, s8)
. . . . . . . . > select c1,c2,c4,c5,c10,c25,c100,c1k,c10k,c40k,c100k,c250k,c500k,
. . . . . . . . > --s1, s2, s3, s4, s5, s6, s7, s8
. . . . . . . . > '12345678', '12345678900987654321', '12345678900987654321', '12345678900987654321', '12345678900987654321', '12345678900987654321', '12345678900987654321', '12345678900987654321'
. . . . . . . . > from bench_source
. . . . . . . . > ;
0: jdbc:luciddb:> 
0: jdbc:luciddb:> !quit
