0: jdbc:luciddb:> create schema rc;
0: jdbc:luciddb:> set schema 'rc';
0: jdbc:luciddb:> 
0: jdbc:luciddb:> -- create basic foreign server
0: jdbc:luciddb:> create server ffserver
. . . . . . . . > foreign data wrapper "FLAT FILE"
. . . . . . . . > options(
. . . . . . . . >   directory '@DIR@',
. . . . . . . . >   file_extension '.csv',
. . . . . . . . >   with_header 'yes',
. . . . . . . . >   num_rows_scan '10'
. . . . . . . . > );
0: jdbc:luciddb:> 
0: jdbc:luciddb:> -- create server for logs
0: jdbc:luciddb:> create server logserver
. . . . . . . . > foreign data wrapper "FLAT FILE"
. . . . . . . . > options(
. . . . . . . . >   directory '@LOGDIR@',
. . . . . . . . >   file_extension '.log',
. . . . . . . . >   with_header 'yes'
. . . . . . . . > );
0: jdbc:luciddb:> 
0: jdbc:luciddb:> -- create test enforce row constraints
0: jdbc:luciddb:> create or replace function enforce_row_constraints(
. . . . . . . . >   c cursor,
. . . . . . . . >   r select from c,
. . . . . . . . >   msgJarName varchar(128),
. . . . . . . . >   tag varchar(128))
. . . . . . . . > returns table(c.*)
. . . . . . . . > language java
. . . . . . . . > parameter style system defined java
. . . . . . . . > no sql
. . . . . . . . > specific enforce_row_constraints_test
. . . . . . . . > external name 'applib.applibJar:org.eigenbase.applib.util.EnforceRowConstraintsUdx.execute';
0: jdbc:luciddb:> 
0: jdbc:luciddb:> 
0: jdbc:luciddb:> !quit
