-- Q11 (tpch2.6.1)

--
-- rewritten query used before subquery support
--
--SELECT
--    PS_PARTKEY, SUM(PS_SUPPLYCOST * PS_AVAILQTY) AS VAL
--FROM
--    PARTSUPP, SUPPLIER, NATION,
--    (SELECT SUM(PS_SUPPLYCOST * PS_AVAILQTY) * (0.0001 / @SF@) AS TMP
--     FROM PARTSUPP, SUPPLIER, NATION
--     WHERE PS_SUPPKEY = S_SUPPKEY AND
--           S_NATIONKEY = N_NATIONKEY AND
--           N_NAME = 'GERMANY') AS TEMPS
--WHERE 
--    PS_SUPPKEY = S_SUPPKEY AND 
--    S_NATIONKEY = N_NATIONKEY AND
--    N_NAME = 'GERMANY'
--GROUP BY PS_PARTKEY
--HAVING SUM(PS_SUPPLYCOST*PS_AVAILQTY) > SUM(TEMPS.TMP)/COUNT(*)
--ORDER BY VAL DESC;

SELECT
    PS_PARTKEY,
    SUM(PS_SUPPLYCOST * PS_AVAILQTY) AS VAL
FROM
    TPCH.PARTSUPP,
    TPCH.SUPPLIER,
    TPCH.NATION
WHERE
    PS_SUPPKEY = S_SUPPKEY
    AND S_NATIONKEY = N_NATIONKEY
    AND N_NAME = 'GERMANY'
GROUP BY
    PS_PARTKEY HAVING
        SUM(PS_SUPPLYCOST * PS_AVAILQTY) > (
            SELECT
                SUM(PS_SUPPLYCOST * PS_AVAILQTY) * (0.0001 / @SF@)
            FROM
                TPCH.PARTSUPP,
                TPCH.SUPPLIER,
                TPCH.NATION
            WHERE
                PS_SUPPKEY = S_SUPPKEY
                AND S_NATIONKEY = N_NATIONKEY
                AND N_NAME = 'GERMANY'
            )
ORDER BY
    VAL DESC;
