-- Run as a .mtsql script to avoid auto-execution of SQL statements prior to
-- the start of the actual test

@nolockstep

@thread restore

-- Restore the differential archive

call sys_root.restore_database('@TEST_DIR@/diffArchive');

@end
