-- setup
-- end of setup

-- thread restore
> call sys_root.restore_database('@TEST_DIR@/badArchive');
net.sf.farrago.jdbc.FarragoJdbcUtil$FarragoSqlException: Directory @TEST_DIR@/badArchive does not exist
-- end of thread restore

