-- Run as a .mtsql script to avoid auto-execution of SQL statements prior to
-- the start of the actual test

@nolockstep

-- Restore the full backup without the catalog data

@thread backup

call sys_root.restore_database_without_catalog('@TEST_DIR@/fullArchive');

@end
