-- Run as a .mtsql script to avoid auto-execution of SQL statements prior to
-- the start of the actual test

@nolockstep

@thread restore

-- Restore the first incremental archive without the catalog data

call sys_root.restore_database_without_catalog('@TEST_DIR@/incrArchive1');

@end
