> -- $Id$
> -- This script creates the builtin storage data servers for repository object
> -- access when Netbeans MDR is used for repository storage.
> 
> !set verbose true
> 
> set schema 'sys_boot.sys_boot';
> set path 'sys_boot.sys_boot';
> 
> -- create access to system's own CWM repository
> create or replace server sys_cwm
> foreign data wrapper sys_mdr
> options(root_package_name 'CWM');
> 
> -- create access to system's own Farrago-specific portion of repository
> create or replace server sys_fem
> foreign data wrapper sys_mdr
> options(root_package_name 'FEM');
> 
> !quit
