-- Create views for direct table access, foreign table access, 

create schema @name_prefix@_vschema;
set schema '@name_prefix@_vschema';

-- view off of foreign table with datatypes specified explicitly
create view @name_prefix@_vschema.explicit_types_view as
select * from @name_prefix@_ft_schema.types_explicit;

select * from @name_prefix@_vschema.explicit_types_view;

-- Added for LDB-40
-- view off of foreign table with datatypes not specified
create view @name_prefix@_vschema.types_view_fromft as 
select * from @name_prefix@_ft_schema.types_nonexplicit;

select * from @name_prefix@_vschema.types_view_fromft;

-- view off of foreign table imported using import schema
create view @name_prefix@_vschema.types_view_fromis as
select * from @name_prefix@_is_schema."types";

select * from @name_prefix@_vschema.types_view_fromis;


-- get metadata for views
!metadata getColumns LOCALDB @name_prefix@_VSCHEMA % null