set schema 's';

-- Import with Limit to qualification
import foreign schema "@SCHEMA@"
LIMIT TO TABLE_NAME like 'typ%' 
from server @SERVER_NAME@ 
into @name_prefix@_is_schema;

-- Check import of column names and datatypes
!metadata getColumns LOCALDB @name_prefix@_IS_SCHEMA % null

-- 2nd select should fail
select * from @name_prefix@_is_schema."types";
select * from @name_prefix@_is_schema."blob"; 

drop schema @name_prefix@_is_schema cascade;
create schema @name_prefix@_is_schema;

-- Import with Except qualification
import foreign schema "@SCHEMA@"
EXCEPT TABLE_NAME like '%'
from server @SERVER_NAME@
into @name_prefix@_is_schema;

-- Check import of tables
!metadata getTables LOCALDB @name_prefix@_IS_SCHEMA % null

drop schema @name_prefix@_is_schema cascade;
create schema @name_prefix@_is_schema;

-- Import with explicit list of tables
import foreign schema "@SCHEMA@"
LIMIT to ("blob", "types")
from server @SERVER_NAME@
into @name_prefix@_is_schema;

-- Check import of table names, column names and data types
!metadata getColumns LOCALDB @name_prefix@_IS_SCHEMA % null

select * from @name_prefix@_is_schema."types";
select * from @name_prefix@_is_schema."blob";

-- failure
import foreign schema "@SCHEMA@"
LIMIT to ("types", "nonexistanttable")
from server @SERVER_NAME@
into @name_prefix@_is_schema;