-- local tables

set schema 's';

INSERT INTO types
SELECT c_char,c_varchar,c_decimal,c_tinyint,c_smallint,c_integer,c_bigint,c_real,c_double,c_boolean,c_date,c_time,c_timestamp
FROM @name_prefix@_ft_schema.types_explicit;

INSERT INTO types
SELECT * FROM @name_prefix@_ft_schema.types_nonexplicit;

INSERT INTO types
SELECT * FROM @name_prefix@_is_schema."types";

-- binary type table
INSERT INTO blobtypes
SELECT c_binary,c_varbinary
FROM @name_prefix@_ft_schema.blobtypes_explicit;

INSERT INTO blobtypes
SELECT * FROM @name_prefix@_ft_schema.blobtypes_nonexplicit;

INSERT INTO blobtypes
SELECT * FROM @name_prefix@_is_schema."blob";

select count(*) from types;
select count(*) from blobtypes;