create foreign table @name_prefix@_schema."bench100" (
"kseq" bigint,
"k2" bigint,
"k4" bigint,
"k5" bigint,
"k10" bigint,
"k25" bigint,
"k100" bigint,
"k1k" bigint,
"k10k" bigint,
"k40k" bigint,
"k100k" bigint,
"k250k" bigint,
"k500k" bigint
)
server @SERVER_NAME@
options (
SCHEMA_NAME '@SCHEMA@',
@TABLE_NAME@ '@ff_dir@bench100@file_ext@'
);


create foreign table @name_prefix@_schema."bench10K" (
"kseq" bigint,
"k2" bigint,
"k4" bigint,
"k5" bigint,
"k10" bigint,
"k25" bigint,
"k100" bigint,
"k1k" bigint,
"k10k" bigint,
"k40k" bigint,
"k100k" bigint,
"k250k" bigint,
"k500k" bigint
)
server @SERVER_NAME@
options (
SCHEMA_NAME '@SCHEMA@',
@TABLE_NAME@ '@ff_dir@bench10K@file_ext@'
);


create foreign table @name_prefix@_schema."bench100K" (
"kseq" bigint,
"k2" bigint,
"k4" bigint,
"k5" bigint,
"k10" bigint,
"k25" bigint,
"k100" bigint,
"k1k" bigint,
"k10k" bigint,
"k40k" bigint,
"k100k" bigint,
"k250k" bigint,
"k500k" bigint
)
server @SERVER_NAME@
options (
SCHEMA_NAME '@SCHEMA@',
@TABLE_NAME@ '@ff_dir@bench100K@file_ext@'
);


create foreign table @name_prefix@_schema."bench1M" (
"kseq" bigint,
"k2" bigint,
"k4" bigint,
"k5" bigint,
"k10" bigint,
"k25" bigint,
"k100" bigint,
"k1k" bigint,
"k10k" bigint,
"k40k" bigint,
"k100k" bigint,
"k250k" bigint,
"k500k" bigint
)
server @SERVER_NAME@
options (
SCHEMA_NAME '@SCHEMA@',
@TABLE_NAME@ '@ff_dir@bench1M@file_ext@'
);
