import foreign schema "@SCHEMA@" 
limit to ("bench100", "bench10K", "bench100K", "bench1M")
from server @SERVER_NAME@ into @name_prefix@_schema;

select count(*) from @name_prefix@_schema."bench100K";
select count(*) from @name_prefix@_schema."bench1M";

